<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Bienvenido(a) al Sistema de Atención de Reclamos.</h1>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center; padding-top:25px;">

    <img src="assets/img/imagen-home.png" style="width:50%;" />

</div>
