<div class="col s12" *ngIf="RequerimientoDetalle">
    <div class="col s9">
      <div class="input-field input-field-common lbl-sar-mat-select">
        <mat-form-field  class="w-full">
          <mat-label>Plantillas</mat-label>
          <mat-select [(ngModel)]="LaserFicheID">
            <ng-container *ngFor="let recurso  of recursos">
              <mat-option value="{{recurso.laserficheID}}">{{recurso.descripcion}}</mat-option >
            </ng-container>
          </mat-select>
        </mat-form-field>
    </div>
    </div>
    <div class="col s3">
      <div class="input-field col s12  w-full">
        <button (click)="DescargarPlantilla()" class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
          <span>Descargar</span>
          <i class="material-icons"></i>
      </button>
      </div>
    </div>
</div>



<div *ngIf="!bCartaRespuesta" class="col s12">
  <div class="col s9">
    <div class="input-field input-field-common lbl-sar-mat-select">
      <div class="align-items-center">
        <div class="file-field input-field flex align-items-center">
          <div class="">
            <input type="file" #CartaRespuesta  (change)="changePlantilla($event)"  accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"  >
          </div>
          <i class="material-icons">attach_file</i>
          <div class="file-path-wrapper w-full">
            <input class="file-path validate"  #CartaRespuestaInput  type="text" placeholder="Carta de respuesta/Constancia">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="input-field col s12  w-full">
      <button (click)="SubirCartaRespuesta()" class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
        <span>Subir Archivo</span>
        <i class="material-icons"></i>
    </button>
    </div>
  </div>
</div>

<div *ngIf="bCartaRespuesta" class="col s6">
  <div class="input-field col s12">
    <i (click)="DescargarCartaRespuesta()" class="material-icons cursor-pointer" name="action" >archive</i>
    <span class="vertical-align-super text-bold">Carta de respuesta</span>
    <i  (click)="EliminarCartaRespuesta()" class="material-icons cursor-pointer"  name="action" >delete</i>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>
