
<div  class="container">
  <div class="card-panel row layout-card-gray-2">

    <div class="row mb-0">
        <form  novalidate >         
      
          <div class="row mb-0">
            <div class="col s12 m12 l12">
              <div class="col s7">
                <span class="text-lg mb-4">Consulta detalle</span>
              </div>             
            </div>
          </div>
          <div class="divider mt-10"></div>
          <div class="col s12">
            <div class="input-field input-field-common col s12 mb-0">
              <div>  

                <div class="row">
                  <div class="col s8">
                    <p class="mt-5 text-lg" >{{ConsultaDetalle.nroDocumento}} - {{ConsultaDetalle.nombresCompletos}}</p>
                  </div>
                  <div class="col s4 right-align"> 
                   <p class="mt-5 text-lg">Id Consulta : {{ ConsultaDetalle.codConsulta }}</p>      
                  </div>
                  
              </div>             
                <div>
                  <span class="text-bold">Fecha : </span>{{ ConsultaDetalle.fechaRegistro | date: 'dd/MM/yyyy'}}
                </div>
                <div>
                  <span class="text-bold">Email : </span>{{ ConsultaDetalle.correoElectronico }}
                </div>
                <div>
                  <span class="text-bold">Dirección : </span> {{ ConsultaDetalle.direccion }}
                </div>
                <div>
                  <span class="text-bold">Teléfono : </span>{{ ConsultaDetalle.celular }}
              </div>

              <div>
               
                <div *ngIf="ConsultaDetalle.laserFicheConsultas" >                 
                <i (click)="DescargarArchivos(ConsultaDetalle.laserFicheConsultas)" class="material-icons cursor-pointer"  name="action" >archive</i>
                <span class="text-lgn vertical-align-super">Descargar archivos</span>                  
                </div>  
               <div *ngIf="!ConsultaDetalle.laserFicheConsultas" style="color: red; font-size: small;">
                No hay adjuntos
               </div>  
              </div>

             <div>            
                <p class="mt-5">{{ConsultaDetalle.descripcion}}</p> 
          </div>            
                        
              </div>             
          </div> 
           
        <div class="divider mt-5"></div>   
          
        
        </div>
        <div class="col s8"></div>
      <div>


        <div class="col s4">
          <div class="input-field col s12 ">
              <button routerLink="/consulta" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;"  >
                <span>Regresar</span>
                <i class="material-icons"></i>
            </button>           
          </div>
        </div>

      </div>

        </form>

    </div>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>
