   p {
    width: 80%;
  }

  
   .cursor-pointer{
     cursor: pointer;
   }
  
   .vertical-align-super
   {
    vertical-align: super;
   }  
  
   .text-bold {
     font-weight: 600;
   }
  
   .mx-auto {
    margin: 0 auto;
  }
  
  .mx-10{
    margin: 0px 10px;
  }
  
  .text-lg {
    font-size: 20px;
    font-weight: 600;
  }
  
  .mt-5 {
    margin-top: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }
   
  