<div class="container">
  <div class="section no-padding">
    <div class="row  col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Detalle Usuario</h1>
            </div>
        </div>
    </div>
  </div>



  <div class="card-panel row layout-card-gray-2">


    <div class="row">
        <form [formGroup]="form" novalidate >
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos de Usuario</span>
                <div class="divider mt-10"></div>

              </div>
            </div>
          </div>



          <div class="row no-mar-bot">
              <div class="col s12 m6 l4">
                <div class="col lbl-sar-mat-select s12 w-full">
                  <mat-form-field class="w-full-b">
                      <mat-label>Perfil</mat-label>
                      <mat-select formControlName="Perfil"  (selectionChange)="onChangePerfil()">
                          <ng-container *ngFor="let parametro of parametros">
                              <mat-option *ngIf="parametro.grupo==1400" [value]="parametro.parametro">{{parametro.descripcion}}</mat-option>
                            </ng-container>
                      </mat-select>
                  </mat-form-field>
                </div>
            </div>
            <div class="col s12 m6 l2"></div>
            <div class="col s12 m12 l6">
                <div class="input-field col s12  w-full">
                    <input id="DescripcionPerfil" formControlName="DescripcionPerfil" type="text" class="validate active">
                    <label class="active" for="DescripcionPerfil">Descripcion del Perfil</label>
                </div>
            </div>

          </div>


          <div class="row no-mar-bot">
            <div class="col s12 m12 l6">
              <div class="col lbl-sar-mat-select s12 w-full">
                <label  for="CorreoElectronico">Correo electrónico</label>
                <input formControlName="CorreoElectronico" id="CorreoElectronico" type="email" [ngModel]="UsuarioDetalle?.correoElectronico">
               
                <div class="flex flex-row">
                  <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('CorreoElectronico')?.errors">
                    ingrese un correo electrónico valido.
                  </div>
                </div>
              </div>
          </div>
          <div class="col s12 m12 l6">
              <div class="col lbl-sar-mat-select s12 w-full">
                <label for="NombresApellidos">Nombres y Apellidos</label>
                  <input formControlName="NombresApellidos" id="NombresApellidos" type="text" class="validate" maxlength="{{MaxLengthNombres}}" [ngModel]="UsuarioDetalle?.nombresApellidos">
                  
                  <div class="flex flex-row">
                    <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('NombresApellidos')?.errors">
                      ingrese nombres y apellidos
                    </div>
                    <div class="mt-0 pt-0 text-rigth w-full">
                      <span class="font-x-small" *ngIf="this.form.controls['NombresApellidos'].value==null"> 0/{{MaxLengthNombres}}</span>
                      <span class="font-x-small" *ngIf="this.form.controls['NombresApellidos'].value!=null"> {{this.form.controls['NombresApellidos'].value.length}}/{{MaxLengthNombres}}</span>
                    </div>
                  </div>
              </div>
          </div>
          </div>

          <div class="row no-mar-bot">
            <div class="col s12 m12 l6">
                <div class="col lbl-sar-mat-select s12 w-full">
                  <label for="UsuarioWeb">Usuario Web</label>
                  <input formControlName="UsuarioWeb" id="UsuarioWeb" type="text" class="validate" maxlength="100" [ngModel]="UsuarioDetalle?.usuarioWeb">
                  
                  <div class="flex flex-row">
                    <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('UsuarioWeb')?.errors">
                      ingrese un usuario web
                    </div>
                  </div>

                </div>
            </div>
            <div class="col s12 m12 l6">
              <div class="col lbl-sar-mat-select s12 w-full">               
                <mat-form-field  class="w-full">
                  <mat-label>Estado</mat-label>
                  <mat-select
                    formControlName="Estado">
                    <ng-container>
                      <mat-option value="1">Activo</mat-option>
                      <mat-option value="0">Inactivo</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>           
          </div>

          <div class="row no-mar-bot">
            
            <div class="col s12 m12 l6">
               <div class="col lbl-sar-mat-select s12 w-full">   
                  <mat-form-field class="w-full">
                    <mat-label>Agencias</mat-label>
                    <mat-select  formControlName="CodAgencia">
                        <ng-container  *ngFor="let agencia of agencias">
                            <mat-option value="{{agencia.codAgencia}}">{{agencia.oficina}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                </div>                               
            </div>
            <div class="col s12 m12 l6"></div>
          </div>

          
          <div class="row">
            <div class="col s12 w-full center-align">
              <div class="col offset-l3 s12 m12 l6 offset-l3  w-full center-align align-items-center mx-auto flex flex-row">
                  <button routerLink="/usuario" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                    <i class="material-icons">reply</i>
                    &nbsp;<span>Regresar</span>

                  </button>

                  <button (click)="registrar()" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                    <i class="material-icons">save</i>
                    &nbsp;<span>Guardar</span>
                  </button>


              </div>

            </div>
          </div>


        </form>

  </div>
</div>


<app-loading *ngIf="loading"></app-loading>
