
  <div class="row mb-0" *ngIf="permisoLegal>0">
    <div class="col s12">
      <div class="row mb-0">
        <div class="col s12">
          <span class="text-lg mb-4" style="padding-bottom: 16px;">Minuta y Carta de Entrega</span>
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>
  </div>



<ng-container *ngFor="let item of items">
  <ng-container *ngIf="item.tipoAccion==10">

    <ng-container *ngIf="item.tipo==5 && documentosMinuta">

      <div class="col s12" *ngIf="documentosMinuta.length==0">
        <div class="col s9">
          <div class="input-field input-field-common lbl-sar-mat-select">
            <mat-form-field  class="w-full">
              <mat-label>Plantillas</mat-label>
              <mat-select [(ngModel)]="selectedPlantilla">
                <ng-container *ngFor="let recurso  of recursos">
                  <mat-option value="{{recurso.laserficheID}}">{{recurso.descripcion}}</mat-option >
                </ng-container>
              </mat-select>
            </mat-form-field>
        </div>
        </div>
        <div class="col s3">
          <div class="input-field col s12  w-full">
            <button (click)="DescargarPlantilla()" class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
              <span>Descargar</span>
              <i class="material-icons"></i>
          </button>
          </div>
        </div>
      </div>

      <ng-container *ngFor="let recurso of documentosMinuta; let i = index">
        <div class="row mb-0">
          <div class="col s12">
              <div *ngIf="recurso.laserficheID" class="row mb-0">
                <div class="col s12">
                  <i (click)="DescargarArchivoLaserFiche(recurso.laserficheID,'Minuta')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Minuta</span>
                  <i (click)="eliminarArchivoLaserFiche(recurso.laserficheID)"  class="material-icons cursor-pointer"  name="action">delete</i>
                </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row mb-0" *ngIf="documentosMinuta.length==0">
        <div class="col s9">
          <div class="row mb-0">
            <div class="col s12">
              <div class="file-field input-field flex align-items-center">
                <label class="active" for="FormaEnvio">Minuta</label>
                <i class="material-icons">attach_file</i>
                <div class="">
                  <input
                    type="file"
                    #inputfileMinuta
                    (change)="handleUpload2($event)"
                    accept="application/pdf"
                  />
                </div>
                <div class="w-full">
                  <input
                    #inputtextMinuta
                    class="file-path validate"
                    type="text"
                    placeholder="Tamaño máximo 2.5 MB"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s3">
            <button  (click)="onClick(item)" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
              <span>Subir Archivo</span>
              <i class="material-icons"></i>
            </button>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="item.tipo==6 && documentosCartaEntrega">
      <ng-container *ngFor="let recurso of documentosCartaEntrega; let i = index">
        <div class="row mb-0">
          <div class="col s12">
              <div *ngIf="recurso.laserficheID" class="row mb-0">
                <div class="col s12">
                  <i (click)="DescargarArchivoLaserFiche(recurso.laserficheID,'CartaEntrega')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Carta de entrega</span>
                  <i (click)="eliminarArchivoLaserFiche(recurso.laserficheID)"  class="material-icons cursor-pointer"  name="action">delete</i>
                </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row mb-0" *ngIf="documentosCartaEntrega.length==0">
        <div class="col s9">
          <div class="row mb-0">
            <div class="col s12">
              <div class="file-field input-field flex align-items-center">
                <label class="active" for="FormaEnvio">Carta de entrega</label>
                <i class="material-icons">attach_file</i>
                <div class="">
                  <input
                    #inputFileCE
                    type="file"
                    (change)="handleUpload($event)"
                    accept="application/pdf"
                  />
                </div>
                <div class="w-full">
                  <input
                    #inputTextCE
                    class="file-path validate"
                    type="text"
                    placeholder="Tamaño máximo 2.5 MB"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s3">
            <button (click)="subirCartaEntrega()"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
              <span>Subir Archivo</span>
              <i class="material-icons"></i>
            </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>


<div class="row mb-0" *ngIf="permisoLegal>0">
  <div class="col s12">
    <div class="row mb-0">
      <div class="col s12">
        <mat-form-field class="mat-form-field-dpicker-sar w-full">
          <mat-label>F. Entrega Olva </mat-label>
          <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker"  readonly  enabled="false"  (dateInput)="addEvent($event)" (dateChange)="addEvent($event)"   >
          <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>

      </mat-form-field>
      </div>
    </div>
  </div>
</div>




<ng-container *ngFor="let item of items">
  <ng-container *ngIf="item.tipoAccion==11 && (documentosMinuta.length > 0 || documentosCartaEntrega.length > 0)">
    <div class="row">
      <div class="col s12">
        <div class="row mb-0">
          <div class="col s12">
            <span class="text-lg mb-4" style="padding-bottom: 16px;">Minuta y Carta de Entrega</span>
            <div class="divider mt-10"></div>
          </div>
        </div>
      </div>
    </div>

    <div  class="row mb-0" *ngFor="let recurso of documentosMinuta; let i = index" >
      <div class="col s12">
        <i (click)="DescargarArchivoLaserFiche(recurso.laserficheID,'Minuta')"  class="material-icons cursor-pointer" name="action" >archive</i>
        <span class="text-bold vertical-align-super">Minuta</span>
      </div>
    </div>

    <div  class="row mb-0" *ngFor="let recurso of documentosCartaEntrega; let i = index" >
      <div class="col s12">
        <i (click)="DescargarArchivoLaserFiche(recurso.laserficheID,'CartaDeEntrega')"  class="material-icons cursor-pointer" name="action" >archive</i>
        <span class="text-bold vertical-align-super">Carta de entrega</span>
      </div>
    </div>

    <div class="row mb-0">
        <div class="col s12">
          <div class="input-field input-field-common lbl-sar-mat-select w-full">
            <input
              id="FechaEntregaOlva"
              class="materialize-textarea"
              readonly
              disabled
              value="{{creditoClienteDetalle.fechaEntregaOlva | date: 'dd/MM/yyyy'}}"
            />
            <label for="nombre" class="active">Fecha de entrega olva</label>

          </div>
        </div>
      </div>

  </ng-container>
</ng-container>
<app-loading *ngIf="loading"></app-loading>

