.vertical-align-super
{
 vertical-align: super;
}
.text-bold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.align-items-center{
  align-items: center;
}

.w-full{
  width: 100% !important;
 }

 .cursor-pointer{
   cursor: pointer;
 }

 .mt-0 {
  margin-top: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}

.text-lg {
  font-size: 20px;
  font-weight: 600;
}
