.w-full{
    width: 100%;
  }
  .w-full-a{
    width: 170%;
  }

  th {
    /*border-bottom: 1px solid #1D8348;*/
    color: black;
  }

  td.mat-cell {
    padding: .4em;
    border: none;
  }

  tr.mat-row {
    /*border: 1px solid #1D8348;*/
    padding: 1;
  }
