<form [formGroup]="form" novalidate>
    <mat-dialog-content class="mat-typography">
      
     
      <div id="comentario-modal">
        
        <div class="row">
          <div class="col s12">
            <span class="text-lg mb-4">Enviar al UDA</span><br>
          </div>
        </div>
        <!-- <div class="row no-mar-bot">
            <div class="col s12">
              <div class="input-field input-field-common lbl-sar-mat-select w-full">
                <input
                  formControlName="Agencia"
                  id="agencia"
                  class="materialize-textarea"
                  readonly
                />
                <label for="Agencia" class="active">Agencia</label>
    
              </div>
            </div>
          </div> -->
          <div class="row no-mar-bot">
            <div class="col s12">
              <div class="input-field input-field-common lbl-sar-mat-select  w-full">
                  <mat-form-field  class="w-full">
                    <mat-label>Agencia</mat-label>
                    <mat-select formControlName="CodAgencia" (selectionChange)="onChangeAgencia($event)">
                        <ng-container *ngFor="let agencia of agencias">
                          <mat-option value="{{agencia.codAgencia}}">{{agencia.oficina}}</mat-option>
                        </ng-container>
    
                    </mat-select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodAgencia')?.errors">
                     seleccione un Agencia
                    </div>
                  </mat-form-field>
              </div>
            </div>
          </div>
        <div class="row no-mar-bot">
            <div class="col s12">
              <div class="input-field input-field-common lbl-sar-mat-select  w-full">
                  <mat-form-field  class="w-full">
                    <mat-label>Usuarios</mat-label>
                    <mat-select formControlName="CodUsuario">
                      <mat-option value="">Seleccione</mat-option>
                        <ng-container *ngFor="let usuario of usuarios">
                          <mat-option value="{{usuario.codUsuario}}">{{usuario.nombresApellidos}}</mat-option>
                        </ng-container>
    
                    </mat-select>
                   
                  </mat-form-field>
                  <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodUsuario')?.errors">
                    Seleccione un usuario
                </div>
              </div>
            </div>
          </div>
  
 
  
  
    
  
  
  
  
  
  
  
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
  
      <div class="row">
        <div class="col s12">
          <div class="input-field col s6 w-full">
            <button
              class="btn waves-effect waves-light btn-default-resize"
              type="submit"
              style="margin-top: 13px"
              (click)="derivar()"
            >
              <span>Aceptar</span>
              <i class="material-icons"></i>
            </button>
          </div>
  
  
          <div class="input-field col s6 w-full">
            <button
              class="btn waves-effect waves-light btn-default-resize"
              mat-flat-button
              id="yes-button"
              [mat-dialog-close]="true"
              style="margin-top: 13px"
            >
              <span>Cancelar</span>
            </button>
          </div>
        </div>
      </div>
  
    </mat-dialog-actions>
  
  </form>
  <app-loading *ngIf="loading"></app-loading>