<h2 mat-dialog-title>Terminos y condiciones</h2>
<mat-dialog-content class="mat-typography">
  <p> Se informa que los datos personales proporcionados a AGROBANCO quedan incorporados al banco de datos de clientes de AGROBANCO, quien utilizará dicha información para efectos de la gestión de los productos y/o servicios solicitados y/o contratados (incluyendo evaluaciones financieras, procesamiento de datos, formalizaciones contractuales, cobro de deudas, gestión de operaciones financieras y remisión de correspondencia, entre otros), la misma que podrá ser realizada a través de terceros. AGROBANCO protege estos bancos de datos y sus tratamientos con todas las medidas de índole técnica y organizativa necesarias para garantizar su seguridad y evitar la alteración, pérdida, tratamiento o acceso no autorizado.</p>
  <p>TRATAMIENTO DE DATOS PERSONALES</p>
  <p>Mediante la suscripción del presente documento, usted:</p>
  <p>Autoriza a AGROBANCO a utilizar sus datos personales para dar tratamiento a estos datos personales de manera directa o por intermedio de terceros, de la manera más amplia permitida por las normas, lo cual incluye la posibilidad de transferir esta información a personas naturales y/o jurídicas con las cuales AGROBANCO tenga convenios de cooperación interinstitucional, empresas de mercadeo y/o empresas de análisis de información. De igual forma se utilizarán para que AGROBANCO pueda enviarle por cualquier medio de comunicación como llamadas telefónicas, mensajes de texto, mensajería instantánea o mensajes electrónicos masivos a efectos de ofrecer los productos y servicios de AGROBANCO y/o de terceros.
  Declara conocer que la suscripción de la presente autorización es de carácter libre y voluntaria y que, por tanto, no condiciona el otorgamiento y/o gestión de ninguno de los productos o servicios financieros ofrecidos por AGROBANCO.
  AGROBANCO le informa al titular de los datos personales, que puede revocar la autorización para el tratamiento de sus datos personales en cualquier momento, de conformidad con lo previsto en la Ley de Protección de Datos Personales (Ley N° 29733) y su Reglamento (Decreto Supremo N° 003-2013-JUS). Para ejercer este derecho, o cualquier otro previsto en dichas normas, el titular de datos personales podrá presentar su solicitud en cualquiera de las agencias de AGROBANCO.</p>
  <p>Mayor información en www.agrobanco.com.pe o en cualquier oficina del AGROBANCO a nivel nacional.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">

  <a class="waves-effect waves-light btn" (click)="onClick(0)">No Acepto</a>
  <a class="waves-effect waves-light btn mx-10" (click)="onClick(1)">Acepto</a>

</mat-dialog-actions>


