<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Búsqueda de consultas</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro" (ngSubmit)="buscarListaConsultas()">
            <div class="row no-mar-bot">

            <div class="col s12 m6 l2">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Registro Inicio</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker"  [max]="busquedaFiltro.value.Fecharegistrofin" formControlName="Fecharegistroini" (dateInput)="onChangeFechaRegistroIni">
                    <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fecharegistroini')?.errors">
                        El valor debe ser menor o igual a F.Registro Fin.
                    </div>
                </mat-form-field>


            </div>
            <div class="col s12 m6 l2">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Registro Fin</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker2" [min]="busquedaFiltro.value.Fecharegistroini" formControlName="Fecharegistrofin" (dateInput)="onChangeFechaRegistroFin">
                    <mat-datepicker-toggle matSuffix [for]="miDatepicker2"></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker2></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fecharegistrofin')?.errors">
                        El valor debe ser mayor o igual a F.Registro Inicio.
                    </div>
                </mat-form-field>
            </div>
            <div class="col s6"></div>
            <div class="col s2 m6 l2 offset-s7">
                <button class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons"></i>
                </button>
            </div>

            </div>

        </form>

    </div>

</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="requerimiento-grid">
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

        <table mat-table [dataSource]="listaConsulta">
            <ng-container matColumnDef="codConsulta">
                <th mat-header-cell *matHeaderCellDef> Id Consulta </th>
                <td mat-cell *matCellDef="let element"> {{element.codConsulta}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="tipoDocumento">
                <th mat-header-cell *matHeaderCellDef> Tipo de Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoDocumentoDescripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="nroDocumento">
                <th mat-header-cell *matHeaderCellDef>  Número de Documento  </th>
                <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
            </ng-container>
            <ng-container matColumnDef="nombresCompletos">
                <th mat-header-cell *matHeaderCellDef>  Apellidos y Nombres</th>
                <td mat-cell *matCellDef="let element"> {{element.nombresCompletos}} </td>
            </ng-container>


            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Ver Detalle </th>
                <td mat-cell *matCellDef="let element">
                <!--<a routerLink="/gestion/requerimiento" routerLinkActive="active"  #rla="routerLinkActive" > !-->
                <i class="material-icons" style="cursor: pointer;" name="action" (click)="editarConsulta(element.codConsulta)">visibility</i>
             </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
