.w-full{
  width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.mx-10{
  margin: 0px 10px;
}

.text-lg {
  font-size: 20px;
  font-weight: 600;
}

.mt-4 {
  margin-top: 4px;
}

.pt-4 {
  padding-top: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mt-10 {
  margin-top: 10px;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.text-rigth {
  text-align: right;
}

.font-x-small {
  font-size: x-small !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.g-recaptcha {
  display: inline-block;
}



.TerminosCondiciones {
  border-bottom: 1px solid #4CAF50;
}

.align-items-center{
  align-items: center;
}

.btn-question{
  display:block;
  width:60px;
  height:60px;
  color:#fff;
  position: fixed;
  right:90px;
  bottom:60px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}
.btn-whatsapp {
  display:block;
  width:60px;
  height:60px;
  color:#fff;
  position: fixed;
  right:20px;
  bottom:60px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}

.btn-default-resize-sar {
  padding: 0 16px !important;
  border-radius: 8px !important;
  text-transform: none !important;
  font-family: "Ubuntu-Medium" !important;
  font-size: 12px !important;
  height: 38px !important;
  width: 100% !important;

  background: #00694F;
  border-color: #00694F;
  color: white;
}

.btn-default-resize-sar:hover {

  color: #FFD204;
  background: #065a45;
  border-color: #065a45;
}

.pb-50 {
  padding-bottom: 50px;
}


.card, .card-panel {

     margin: 0px !important;

}


[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  position: relative;
  padding-left: 25px !important;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;
  -webkit-user-select: none;
  user-select: none;
}



#g-recaptcha div {
  width: 100% !important;
}

#g-recaptcha  iframe {
  width: 100% !important;
}

.cursor-pointer{
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}


@media screen and (max-width: 992px) {
  #g-recaptcha {
    transform:scale(0.85);transform-origin:0;
  }
}

@media screen and (max-width: 600px) {
  #g-recaptcha {
    transform:scale(0.75);transform-origin:0;
  }
}
@media screen and (max-width: 400px) {
  #g-recaptcha {
    transform:scale(0.75);transform-origin:0;
  }
}
@media screen and (max-width: 300px) {
  #g-recaptcha {
    transform:scale(0.65);transform-origin:0;
  }
}
