<!--NAV BAR INICIO-->
<nav class="nav-horizontal">
    <div class="nav-wrapper">
        <div class="row">
            <a href="#" class="brand-logo">
                <img src="assets/img/logo-principal.png" alt="login" class="responsive-img">
            </a>
            <div class="col s4 offset-s4 text-center">
                <span class="titulo-web hide-on-small-only hide-on-med-only">Libro de Reclamaciones</span>
            </div>
        </div>
    </div>
</nav>
<!--NAV BAR FIN-->

<!--CONTENT INICIO-->
<div class="container-detail layout-card-gray-1 no-pad-top pb-50">




  <div class="container">
    <!--
    <div class="section no-padding">
      <div class="row  col s12 no-mar-bot">
          <div class="section no-mar-bot">
              <div class="col s12 m12 l12">
                  <h1 class="title">Libro de reclamaciones</h1>
              </div>
          </div>
      </div>
    </div>
    -->

    <div class="section">
      <div class="row  col s12 no-mar-bot">
        <div class="card-panel row layout-card-gray-2" style="margin-bottom: 0px;">

          <div class="row inicio-label borde-form">
            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;padding-top: 3%;">
              <span class="text-lg mb-4" style="padding-bottom: 16px;">Libro de Reclamaciones</span>
            </div>
          </div>


          <div class="row borde-form">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center">
              <img id="imgLibro" src="assets/img/img-libro-reclamaciones.png">
            </div>
          </div>
          <div class="divider mt-10"></div>
          <br>
          <div class="row">
              <form [formGroup]="form" novalidate >
                <div class="row no-mar-bot">
                  <div class="col s12 m12 l12">
                    <div class="col s12">
                      <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos de Oficina</span>
                      <div class="divider mt-10"></div>

                    </div>
                  </div>
                </div>



                <div class="row no-mar-bot">
                    <div class="col s12 m12 l4">
                      <div class="input-field input-field-common lbl-sar-mat-select col s12">
                          <mat-form-field  class="w-full">
                            <mat-label>Oficina</mat-label>
                            <mat-select
                              formControlName="CodAgencia"
                              (selectionChange)="onChangeAgencia()">

                              <ng-container *ngFor="let agencia of agencias">
                                <mat-option value="{{agencia.codAgencia}}">{{agencia.oficina}}</mat-option>
                              </ng-container>
                            </mat-select>
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('Agencia')?.errors">
                              Seleccione una agencia
                            </div>
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="col s12 m12 l8">
                      <div class="input-field input-field-common col s12  w-full">
                          <input id="AgenciaDireccion" formControlName="AgenciaDireccion" type="text" class="validate active text-descripcion">
                          <label class="label-input-sar" [ngClass]="bActiveOficina? 'active': ''"   for="AgenciaDireccion">Dirección</label>
                      </div>
                  </div>
                </div>


                <div class="row no-mar-bot">
                  <div class="col s12 m12 l12">
                    <div class="col s12">
                      <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos personales</span>
                      <div class="divider mt-10"></div>
                    </div>
                  </div>
                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l12">
                    <div class="input-field input-field-common col s12 m12 l4">
                        <div>
                          <label for="">¿Es menor de edad?</label>
                        </div>
                    </div>
                    <div class="col s12 m12 l3" >
                      <div style="margin-top: 13px;">
                        <label style="padding-right: 30px;">
                          <input class="with-gap" name="group3" type="radio"  value="1" [disabled]="disabled"  (change)="onChangeMenor($event)" />
                          <span>Si</span>
                        </label>
                        <label>
                          <input class="with-gap" name="group3" type="radio" value="0"  checked  [disabled]="disabled" (change)="onChangeMenor($event)" />
                          <span>No</span>
                        </label>
                      </div>
                    </div>
                    <div class="input-field input-field-common col s12 m12 l5">
                      <div *ngIf="EsMenorEdad" class="font-x-small flex flex-row">
                        <i   style="font-size: 20px;" class="material-icons">info</i>
                        Ingresar los datos del apoderado o representante, y colocar en el mensaje los datos del menor de edad junto a la explicación de su reclamo o pedido

                      </div>
                    </div>
                </div>

              </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l6">
                    <div class="input-field input-field-common col lbl-sar-mat-select s12" >
                        <mat-form-field  class="w-full">
                          <mat-label>Tipo Documento</mat-label>
                          <mat-select
                            formControlName="TipoDocumento"
                            (selectionChange)="onChangeTipoDocumento()">
                            <ng-container *ngFor="let parametro of parametros">
                              <mat-option *ngIf="parametro.grupo==300" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                            </ng-container>
                          </mat-select>
                          <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('TipoDocumento')?.errors">
                            Seleccione un tipo de documento
                          </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="input-field col s12  w-full">

                      <input *ngIf="this.form.controls['TipoDocumento'].value!=1 && this.form.controls['TipoDocumento'].value!=2 &&  this.form.controls['TipoDocumento'].value!=3 &&  this.form.controls['TipoDocumento'].value!=4 &&  this.form.controls['TipoDocumento'].value!=5" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="0"  maxLength="0"  >


                      <input *ngIf="this.form.controls['TipoDocumento'].value==1" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="8"  maxLength="8"  numbersOnly>
                      <input *ngIf="this.form.controls['TipoDocumento'].value==2" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="11"  maxLength="11" numbersOnly >
                      <input *ngIf="this.form.controls['TipoDocumento'].value==3" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="12" >
                      <input *ngIf="this.form.controls['TipoDocumento'].value==4" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="15" >
                      <input *ngIf="this.form.controls['TipoDocumento'].value==5" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="12" >

                        <label class="label-input-sar" for="NroDocumento">Número de documento</label>
                        <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('NroDocumento')?.errors">
                          Número de documento inválido
                        </div>
                    </div>
                </div>
                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l4">
                      <div class="input-field col s12  w-full">
                          <input formControlName="Nombres" id="Nombres" type="text" class="validate" [readonly]="esRuc" maxlength="{{MaxLengthNombres}}">
                          <label for="Nombres">Nombres</label>
                          <div class="flex flex-row">
                            <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Nombres')?.errors">
                              ingrese su nombre
                            </div>
                            <div class="mt-0 pt-0 text-rigth w-full">
                              <span class="font-x-small" *ngIf="this.form.controls['Nombres'].value==null"> 0/{{MaxLengthNombres}}</span>
                              <span class="font-x-small" *ngIf="this.form.controls['Nombres'].value!=null"> {{this.form.controls['Nombres'].value.length}}/{{MaxLengthNombres}}</span>
                            </div>
                          </div>


                      </div>
                  </div>
                  <div class="col s12 m12 l4">
                    <div class="input-field col s12  w-full">
                        <input formControlName="PrimerApellido" id="PrimerApellido" type="text" class="validate" [readonly]="esRuc" maxlength="{{MaxLengthPrimerApellido}}">
                        <label for="PrimerApellido">Primer Apellido</label>
                        <div class="flex flex-row">
                          <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('PrimerApellido')?.errors">
                            ingrese su primer apellido
                          </div>
                          <div class="mt-0 pt-0 text-rigth w-full">
                            <span class="font-x-small" *ngIf="this.form.controls['PrimerApellido'].value==null"> 0/{{MaxLengthPrimerApellido}}</span>
                            <span class="font-x-small" *ngIf="this.form.controls['PrimerApellido'].value!=null"> {{this.form.controls['PrimerApellido'].value.length}}/{{MaxLengthPrimerApellido}}</span>
                          </div>
                        </div>


                    </div>
                  </div>
                  <div class="col s12 m12 l4">
                    <div class="input-field col s12  w-full">
                        <input formControlName="SegundoApellido" id="SegundoApellido" type="text" class="validate" [readonly]="esRuc" maxlength="{{MaxLengthSegundoApellido}}">
                        <label for="SegundoApellido">Segundo Apellido</label>
                        <div class="flex flex-row">
                          <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('SegundoApellido')?.errors">
                            ingrese su segundo apellido
                          </div>
                          <div class="mt-0 pt-0 text-rigth w-full">
                            <span class="font-x-small" *ngIf="this.form.controls['SegundoApellido'].value==null"> 0/{{MaxLengthSegundoApellido}}</span>
                            <span class="font-x-small" *ngIf="this.form.controls['SegundoApellido'].value!=null"> {{this.form.controls['SegundoApellido'].value.length}}/{{MaxLengthSegundoApellido}}</span>
                          </div>
                        </div>


                    </div>
                  </div>
                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l12">
                    <div class="input-field col s12  w-full">
                        <input formControlName="RazonSocial" id="RazonSocial" type="text" class="validate" [readonly]="!esRuc" maxlength="{{MaxLengthRazonSocial}}">
                        <label for="RazonSocial">Razón Social <span *ngIf="esRuc">
                          <i
                          style="font-size: 20px;"
                          mat-raised-button
                          matTooltip="En caso de representar a una empresa adjuntar Vigencia de Poder actualizada"
                          matTooltipPosition="right"
                          class="material-icons">info</i>
                        </span> </label>
                        <div class="mt-0 pt-0 text-rigth w-full">
                          <span class="font-x-small" *ngIf="this.form.controls['RazonSocial'].value==null"> 0/{{MaxLengthRazonSocial}}</span>
                          <span class="font-x-small" *ngIf="this.form.controls['RazonSocial'].value!=null"> {{this.form.controls['RazonSocial'].value.length}}/{{MaxLengthRazonSocial}}</span>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l12">
                    <div class="col s12">
                      <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos del contacto</span>
                      <div class="divider mt-10"></div>
                    </div>
                  </div>
                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s12" style="margin-top: 1.37rem;">
                        <mat-form-field  class="w-full">
                          <mat-label>Departamento</mat-label>
                          <mat-select
                            formControlName="CodDepartamento"
                            (selectionChange)="onChangeDepartamento()">
                            <ng-container *ngFor="let departamento of departamentos">
                              <mat-option [value]="departamento">{{departamento.departamento}}</mat-option>
                            </ng-container>
                          </mat-select>
                          <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodDepartamento')?.errors">
                            Seleccione un departamento
                          </div>
                        </mat-form-field>
                    </div>
                  </div>

                  <div class="col s12 m12 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s12" style="margin-top: 1.37rem;">
                        <mat-form-field  class="w-full">
                          <mat-label>Provincia</mat-label>
                          <mat-select
                            formControlName="CodProvincia"
                            (selectionChange)="onChangeProvincia()">
                            <ng-container *ngFor="let provincia of provincias">
                              <mat-option [value]="provincia">{{provincia.provincia}}</mat-option>
                            </ng-container>
                          </mat-select>
                          <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodProvincia')?.errors">
                            Seleccione una provincia
                          </div>
                        </mat-form-field>
                    </div>
                  </div>

                  <div class="col s12 m12 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s12" style="margin-top: 1.37rem;">
                        <mat-form-field  class="w-full">
                          <mat-label>Distrito</mat-label>
                          <mat-select  formControlName="CodUbigeo">
                            <ng-container *ngFor="let distrito of distritos">
                              <mat-option value="{{distrito.codUbigeo}}">{{distrito.distrito}}</mat-option>
                            </ng-container>
                          </mat-select>

                          <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodUbigeo')?.errors">
                            Seleccione un distrito
                          </div>
                        </mat-form-field>
                    </div>
                  </div>

                </div>


                <div class="row no-mar-bot">
                  <div class="col s12 m12 l6">
                    <div class="input-field col s12  w-full">
                        <input formControlName="Direccion" id="Direccion" type="text" class="validate" [maxlength]="MaxlengthDireccion">
                        <label for="Direccion">Dirección</label>
                        <div class="flex flex-row">
                          <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Direccion')?.errors">
                            Dirección invalida
                          </div>
                          <div class="mt-0 pt-0 text-rigth w-full">
                            <span class="font-x-small" *ngIf="this.form.controls['Direccion'].value==null"> 0/{{MaxlengthDireccion}}</span>
                            <span class="font-x-small" *ngIf="this.form.controls['Direccion'].value!=null"> {{this.form.controls['Direccion'].value.length}}/{{MaxlengthDireccion}}</span>
                          </div>
                        </div>


                    </div>
                  </div>

                  <div class="col s12 m12 l6">
                    <div class="input-field col s12  w-full">
                        <input formControlName="Referencia" id="Referencia" type="text" class="validate" [maxlength]="MaxlengthReferencia">
                        <label for="Referencia">Referencia</label>
                        <div class="flex flex-row">
                          <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Referencia')?.errors">
                            Referencia invalida
                          </div>
                          <div class="mt-0 pt-0 text-rigth w-full">
                            <span class="font-x-small" *ngIf="this.form.controls['Referencia'].value==null"> 0/{{MaxlengthReferencia}}</span>
                            <span class="font-x-small" *ngIf="this.form.controls['Referencia'].value!=null"> {{this.form.controls['Referencia'].value.length}}/{{MaxlengthReferencia}}</span>
                          </div>
                        </div>


                    </div>
                  </div>

                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l4">
                    <div class="input-field col s12  w-full">
                        <input formControlName="CorreoElectronico" id="CorreoElectronico" type="email" class="validate" maxlength="{{MaxlengthCorreo}}" >
                        <label for="CorreoElectronico">Correo electrónico</label>
                        <div class="flex flex-row">
                          <div class="mt-0 pt-0 text-rigth w-full">
                            <span class="font-x-small" *ngIf="this.form.controls['CorreoElectronico'].value==null"> 0/{{MaxlengthCorreo}}</span>
                            <span class="font-x-small" *ngIf="this.form.controls['CorreoElectronico'].value!=null"> {{this.form.controls['CorreoElectronico'].value.length}}/{{MaxlengthCorreo}}</span>
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="col s12 m12 l4">
                    <div class="input-field col s12  w-full">
                        <input formControlName="Telefono" id="Telefono" type="text" class="validate" maxlength="{{MaxlengthTelefono}}">
                        <label for="Telefono">Teléfono Fijo</label>
                        <div class="flex flex-row">
                          <div class="mt-0 pt-0 text-rigth w-full">
                            <span class="font-x-small" *ngIf="this.form.controls['Telefono'].value==null"> 0/{{MaxlengthTelefono}}</span>
                            <span class="font-x-small" *ngIf="this.form.controls['Telefono'].value!=null"> {{this.form.controls['Telefono'].value.length}}/{{MaxlengthTelefono}}</span>
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="col s12 m12 l4">
                    <div class="input-field col s12  w-full">
                        <input formControlName="Celular" id="Celular" type="tel" class="validate" maxlength="{{MaxlengthCelular}}">
                        <label for="Celular">Celular</label>
                        <div class="flex flex-row">
                          <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Celular')?.errors">
                            Numero ingresado de celular no valido
                          </div>
                          <div class="mt-0 pt-0 text-rigth w-full">
                            <span class="font-x-small" *ngIf="this.form.controls['Celular'].value==null"> 0/{{MaxlengthCelular}}</span>
                            <span class="font-x-small" *ngIf="this.form.controls['Celular'].value!=null"> {{this.form.controls['Celular'].value.length}}/{{MaxlengthCelular}}</span>
                          </div>
                        </div>

                    </div>
                  </div>

                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l12">
                    <div class="col s12">
                      <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos del requerimiento, queja o solicitud</span>

                      <div class="divider mt-10"></div>
                    </div>
                  </div>
                </div>

                <div class="row no-mar-bot">
                  <div class="col s12 m12 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s12" style="margin-top: 1.37rem;">
                        <mat-form-field  class="w-full">
                          <mat-label>Producto</mat-label>
                          <mat-select
                            formControlName="CodProducto"
                            (selectionChange)="onChangeProducto()">
                            <ng-container *ngFor="let parametro of parametros">
                              <mat-option *ngIf="parametro.grupo==400" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                            </ng-container>
                          </mat-select>
                          <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodProducto')?.errors">
                            Seleccione un producto
                          </div>
                        </mat-form-field>
                    </div>
                  </div>

                  <div class="col s12 m12 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s12" style="margin-top: 1.37rem;">
                        <mat-form-field  class="w-full">
                          <mat-label>Motivo</mat-label>
                          <mat-select
                            formControlName="CodMotivo"
                            (selectionChange)="onChangeMotivo()">
                            <ng-container *ngFor="let parametro of motivos">
                              <mat-option
                                value="{{parametro.parametro}}"
                                #tooltip="matTooltip"
                                matTooltip={{parametro.descripcion}}
                                matTooltipPosition="right"
                                >{{parametro.descripcion}}
                              </mat-option>
                            </ng-container>
                          </mat-select>
                          <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodMotivo')?.errors">
                            Seleccione un motivo
                          </div>
                        </mat-form-field>
                    </div>
                  </div>

                  <div class="col s12 m12 l4">
                    <div class="input-field input-field-common lbl-sar-mat-select col s12 flex flex-row" style="margin-top: 1.37rem;">
                      <div class="w-full">
                        <mat-form-field  class="w-full">
                          <mat-label>Reclamo, queja o solicitud</mat-label>
                          <mat-select formControlName="CodTipoRequerimiento" [disabled]="true" >
                            <ng-container *ngFor="let parametro of parametros">
                              <mat-option *ngIf="parametro.grupo==600" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="mt-10">
                        <i
                          style="font-size: 20px;"
                          mat-raised-button
                          matTooltip="Reclamo: Disconformidad relacionada a los productos o servicios del Banco. Queja: Disconformidad no relacionada a los productos o servicios; o malestar o descontento respecto a la atención al público."
                          matTooltipPosition="right"
                          class="material-icons">info</i>
                      </div>

                    </div>


                  </div>

                </div>

                <div class="row no-mar-bot">
                  <div class="col s12">
                    <div class="input-field col s12  w-full">
                      <textarea formControlName="Descripcion" id="Descripcion" class="materialize-textarea" maxlength="{{lengthDescripcion}}"></textarea>
                      <label for="Descripcion">Descripción</label>
                      <div class="flex flex-row">
                        <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Descripcion')?.errors">
                          ingrese una descripcion al requerimiento
                        </div>
                        <div class="mt-0 pt-0 text-rigth w-full">
                          <span class="font-x-small" *ngIf="this.form.controls['Descripcion'].value==null"> 0/{{lengthDescripcion}}</span>
                          <span class="font-x-small" *ngIf="this.form.controls['Descripcion'].value!=null"> {{this.form.controls['Descripcion'].value.length}}/{{lengthDescripcion}}</span>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>

                <div class="row no-mar-bot">
                  <div class="col s12">
                    <div class="input-field input-field-common lbl-sar-mat-select col s12" style="margin-top: 1.37rem;">
                        <mat-form-field  class="w-full">
                          <mat-label>¿Dónde desea el cliente que se le envíe la carta de respuesta?</mat-label>
                          <mat-select formControlName="CodFormaEnvio">
                            <mat-option value="">Seleccione</mat-option>
                            <ng-container *ngFor="let parametro of parametros">
                              <mat-option *ngIf="parametro.grupo==700" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                            </ng-container>
                          </mat-select>
                          <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CodFormaEnvio')?.errors">
                           seleccione su forma de envio de respuesta
                          </div>
                        </mat-form-field>
                    </div>
                  </div>



                </div>

                <div *ngIf="!bRegistroRequerimiento" class="row no-mar-bot">
                  <div class="col s12 m12 l6">
                      <div class="row no-mar-bot">
                          <div class="col s12 align-items-center">
                            <h5>Documentos Adjuntos</h5>
                            <p>Puede adjuntar voucher, estados de cuenta, imágenes u otros documentos para sustentar su reclamo. Los formatos permitidos son: PDF/JPG</p>
                            <p>(El archivo no debe pesar más de 1 MB)</p>
                          </div>
                      </div>
                  </div>
                  <div class="col s12 m12 l6">
                    <div class="row no-mar-bot">
                      <div class="col s11">


                        <div class="file-field input-field flex align-items-center">
                          <i class="material-icons">attach_file</i>
                          <div class="">
                            <input type="file" #myInputArchivo1 formControlName="Archivo1" (change)="handleUpload($event,1)" accept="application/pdf,image/jpeg,image/png">
                          </div>
                          <div class="file-path-wrapper w-full">
                            <input #myInputTextArchivo1 class="file-path validate" type="text" placeholder="Tamaño máximo 1 MB">
                          </div>

                        </div>
                      </div>
                      <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.7rem;">
                            <i  *ngIf="bMostrarArchvo1" (click)="LimpiarUpload(1)" class="material-icons cursor-pointer"  name="action" >close</i>
                        </div>
                      </div>
                    </div>

                    <div class="row no-mar-bot">
                      <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                          <i class="material-icons">attach_file</i>
                          <div class="">
                            <input type="file" #myInputArchivo2 formControlName="Archivo2" (change)="handleUpload($event,2)" accept="application/pdf,image/jpeg,image/png">
                          </div>
                          <div class="file-path-wrapper w-full">
                            <input #myInputTextArchivo2 class="file-path validate" type="text" placeholder="Tamaño máximo 1 MB">
                          </div>


                        </div>
                      </div>
                      <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.7rem;">
                            <i  *ngIf="bMostrarArchvo2" (click)="LimpiarUpload(2)" class="material-icons cursor-pointer"  name="action" >close</i>
                        </div>
                      </div>
                    </div>

                    <div class="row no-mar-bot">
                      <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                          <i class="material-icons">attach_file</i>
                          <div class="">
                            <input type="file" #myInputArchivo3 formControlName="Archivo3" (change)="handleUpload($event,3)" accept="application/pdf,image/jpeg,image/png">
                          </div>
                          <div class="file-path-wrapper w-full">
                            <input #myInputTextArchivo3 class="file-path validate" type="text" placeholder="Tamaño máximo 1 MB">
                          </div>

                        </div>
                      </div>
                      <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.7rem;">
                            <i  *ngIf="bMostrarArchvo3" (click)="LimpiarUpload(3)" class="material-icons cursor-pointer"  name="action" >close</i>
                        </div>
                      </div>
                    </div>

                    <div class="row no-mar-bot">
                      <div class="col s11">
                        <div class="file-field input-field flex align-items-center">
                          <i class="material-icons">attach_file</i>
                          <div class="">
                            <input type="file"  #myInputArchivo4  formControlName="Archivo4" (change)="handleUpload($event,4)" accept="application/pdf,image/jpeg,image/png">
                          </div>
                          <div class="file-path-wrapper w-full">
                            <input  #myInputTextArchivo4 class="file-path validate" type="text" placeholder="Tamaño máximo 1 MB">
                          </div>

                        </div>
                      </div>
                      <div class="col s1" style="padding: 0;">
                        <div class="file-field input-field flex align-items-center" style="margin-top: 2.7rem;">
                            <i  *ngIf="bMostrarArchvo4" (click)="LimpiarUpload(4)" class="material-icons cursor-pointer"  name="action" >close</i>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>

                <div *ngIf="!bRegistroRequerimiento" class="row">
                  <div class="col s12 w-full center-align">
                    <label   (click)="openDialogoTerminosCondiciones()">
                      <input type="checkbox" class="filled-in" disabled  [checked]="checkedTerminos"  />
                      <span class="TerminosCondiciones">Acepto los términos y condiciones</span>
                    </label>

                  </div>
                </div>

                <div *ngIf="!bRegistroRequerimiento" class="row" style="overflow-x: auto;">
                  <div id="div_recaptcha" class="col s12 w-full center-align">
                      <re-captcha id="g-recaptcha" class="g-recaptcha"
                      (resolved)="resolved($event)"
                      siteKey="{{siteKey}}"
                    ></re-captcha>
                  </div>
                </div>


                <div class="row">
                  <div class="col s12 w-full center-align">
                    <div class="col offset-l4 s12 m12 l4 offset-l4  w-full center-align align-items-center mx-auto flex flex-row">
                      <button *ngIf="!bRegistroRequerimiento" (click)="registrar()" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                        <span>Registrar</span>
                      </button>
                    </div>



                    <div class="col offset-l1 s12 m12 l10 offset-l1  w-full center-align align-items-center mx-auto flex flex-row">
                        <button *ngIf="bRegistroRequerimiento" (click)="reload()" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                          <span>Refrescar Formulario</span>
                        </button>
                        <button *ngIf="bRegistroRequerimiento" (click)="descargarPDF()" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                          <span>Descargar PDF</span>
                        </button>
                    </div>
                  </div>
                </div>


              </form>

              <div *ngIf="bRegistroRequerimiento" class="row">
                <div class="input-field col offset-l2 s12 m12 l8 offset-l2  w-full center-align align-items-center mx-auto flex flex-row">
                  <input id="reenviar_correo"  [(ngModel)]="reenviar_correo"   type="email" class="validate">
                  <label class="active" for="reenviar_correo">¿Deseas enviar una copia al correo?</label>
                  <button (click)="enviar_correo()" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                    <span>Enviar Correo</span>
                  </button>


              </div>
            </div>







          <div class="btn-question">
            <a href="{{urlPreguntasFrecuentes}}" target="_blank">
            <img   style="width: 60px;height: 60px;" src="assets/img/btn-question.png" alt="">
            </a>
            </div>


          <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=51{{number_whatsapp}}" target="_blank">
            <img style="width: 60px;height: 60px;" src="assets/img/btn_whatsapp.png" alt="">
            </a>
          </div>

        </div>
        </div>
      </div>
    </div>





    <app-loading *ngIf="loading"></app-loading>








</div>

</div>

<app-footer></app-footer>
<!--CONTENT FIN-->
