<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Usuarios</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro" (ngSubmit)="buscarListaUsuarios()">

            <div class="row no-mar-bot">

                <div class="col s12 m6 l3">
                    <div class="input-field input-field-common lbl-sar-mat-select col s10">
                        <mat-form-field class="w-full-a">
                            <mat-label>Perfil</mat-label>
                            <mat-select formControlName="Perfil">
                                <mat-option value="">Todos</mat-option>
                                <ng-container *ngFor="let parametro of parametros">
                                    <mat-option *ngIf="parametro.grupo==1400" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                                  </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col s12 m6 l5">
                    <div class="input-field input-field-common col s12">
                        <input formControlName="NombresApellidos" id="NombresApellidos" type="text" maxlength="120">
                        <label for="NombresApellidos">Nombres y Apellidos</label>
                    </div>

                </div>

                <div class="col s12 m6 l4">
                    <div class="input-field input-field-common col s12">
                        <input formControlName="UsuarioWeb" id="UsuarioWeb" type="text" maxlength="120">
                        <label for="UsuarioWeb">Usuario Web</label>
                    </div>

                </div>

            <div class="col s5"></div>
            <div class="col s2 m6 l2 offset-s7">
                <button class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons"></i>
                </button>
            </div>

            <div class="col s2 m6 l2 offset-s1">
                <button routerLink="/usuario/usuario-nuevo" class="btn btn-default-resize" style="margin-top:23px;" id="btnNuevo">
                    <span>Nuevo</span>
                    <i class="material-icons"></i>
                </button>
            </div>

            </div>

        </form>

    </div>

</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="requerimiento-grid">
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

        <table mat-table [dataSource]="listaUsuarios">
            <ng-container matColumnDef="codUsuario">
                <th mat-header-cell *matHeaderCellDef> Id Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.codUsuario}} </td>
            </ng-container>
            <ng-container matColumnDef="perfil">
                <th mat-header-cell *matHeaderCellDef> Perfil </th>
                <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
            </ng-container>
            <ng-container matColumnDef="correoElectronico">
                <th mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
                <td mat-cell *matCellDef="let element"> {{element.correoElectronico}} </td>
            </ng-container>
            <ng-container matColumnDef="usuarioWeb">
                <th mat-header-cell *matHeaderCellDef> Usuario Web </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioWeb}} </td>
            </ng-container>
            <ng-container matColumnDef="nombresApellidos">
                <th mat-header-cell *matHeaderCellDef> Nombres y Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.nombresApellidos}} </td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
            <ng-container matColumnDef="usuarioRegistro">
                <th mat-header-cell *matHeaderCellDef> Usuario Registro </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioRegistro}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef> F. Registro </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                <!--<a routerLink="/gestion/requerimiento" routerLinkActive="active"  #rla="routerLinkActive" > !-->
                <i class="material-icons" style="cursor: pointer;" name="action" (click)="editarUsuario(element.codUsuario)">create</i>
             </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
