nav {
    &.nav-horizontal {
        border-bottom: 1px solid #FFD204;
        height: 78px;
        background-color: #fff;
    }

    background-color: #fff;
    color: #00694f;

    a.brand-logo {
        color: #00694f;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.39px;
        height: 56px;

        img {
            height: 100%;
        }
    }

    i, ul a {
        color: #00694f;
    }

    .dropdown-trigger, .dropdown-trigger:hover, .dropdown-trigger:active, .dropdown-trigger:visited {
        min-width: 150px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: #00694f;
    }
}

.nav-common {
    box-shadow: none;

    a {
        color: #4a4a4a;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0px;
        color: #4a4a4a;

        &::before {
            color: $principal-c;
        }

        &:last-child {
            color: #4a4a4a;
            font-weight: bold;
        }
    }
}

.nav-short {
    height: 23px;
    line-height: 23px;
}
