body {
    font-family: 'Ubuntu';

    .sidenav {
        width: $sideba-width;
        transform: translateX(0%);

        .logo-mini {
            display: initial;
        }

        .logo {
            display: none;
        }

        .collapsible-header {
            div, .keyboard_arrow_down {
                display: none;
            }

            i {
                margin-left: 1rem;
            }
        }
    }

    .menu-open {
        float: left;
        padding: 0 15px;
    }


    .container-body {
        position: relative;
        width: 100%;
    }


    &.menu-open {
        overflow: hidden;

        .sidenav {
            transform: translateX(0%);
            width: 350px;

            .logo-mini {
                display: none;
            }

            .logo {
                display: initial;
            }


            .collapsible-header {
                div, .keyboard_arrow_down {
                    display: block;
                }

                i {
                    margin-left: 0;
                }
            }
        }

        .sidenav-overlay {
            display: block;
            opacity: 1;
        }

        .container-body {
            position: relative;
            width: calc( 100% - 54px);
            left: 350px;
        }
    }
}

.sidenav {
    border-top: 1px solid $sidebar-menu-border-c;
    border-right: 1px solid $sidebar-menu-border-c;
    border-left: 1px solid $sidebar-menu-border-c;
    background-color: $sidebar-bc;

    .user-view {
        height: $navbbar-logo-height;

        .logo {
            height: 100%;
        }

        .background {
            padding-top: 8px;
        }
    }

    .divider {
        background-color: $sidebar-menu-border-c;
        margin: 20px 0 0 0;
    }

    li {
        div {
            justify-content: space-between;
        }
    }

    li {
        &.active {
            .collapsible-header {
                background-color: $sidebar-menu-bc;
                color: $sidebar-menu-c;

                i.keyboard_arrow_down {
                    transform: rotate(180deg);
                    transition: all 0.5s ease-out;
                }
            }
        }

        .collapsible-header {
            font-family: Ubuntu;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.26px;
            color: #fefefe;

            i {
                font-size: 15px;
            }

            i.keyboard_arrow_down {
                margin-right: 0;
            }

            div {
                flex-grow: 1;
            }
        }

        .collapsible-body {
            padding: 0 57px;
            background-color: $sidebar-submenu-bc;
            color: $sidebar-submenu-c;
        }
    }
}



@media only screen and (max-width: 600px) {
    body {
        .sidenav.collapsible {
            left: -81px;
        }

        .container-body {
            width: 100%;
            left: 0px;
        }

        &.menu-open {
            .sidenav.collapsible {
                left: 0px;
            }

            .container-body {
                width: 100%;
                left: 0px;
            }
        }
    }
}