<div class="container">
  <div class="section no-padding">
    <div class="row col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Generación de constancia de carta de no adeudo y deuda vigente</h1>
            </div>
        </div>
    </div>
  </div>

  <div class="card-panel row layout-card-gray-2">

    <div class="row no-mar-bot">
      <div class="col s12 m12 l12">
        <div class="col s12">
          <span class="text-lg mb-4" style="padding-bottom: 16px;">Búsqueda</span>
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>

    <div class="row no-mar-bot">
      <form [formGroup]="form" novalidate >

        <div class="col s12 m12 l10">
          <div class="row no-mar-bot">
            <div class="col s12 m12 l6">
              <div class="input-field input-field-common col lbl-sar-mat-select s12" >
                  <mat-form-field  class="w-full">
                    <mat-label>Tipo Documento</mat-label>
                    <mat-select
                      formControlName="TipoDocumento"
                      (selectionChange)="onChangeTipoDocumento()"
                    >
                      <ng-container *ngFor="let parametro of parametros">
                        <mat-option *ngIf="parametro.grupo==300" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                      </ng-container>
                    </mat-select>

                  </mat-form-field>
              </div>
            </div>

            <div class="col s12 m12 l6">
              <div class="input-field col s12  w-full">
                 <!--  <input formControlName="NroDocumento"  id="NroDocumento" name="NroDocumento" type="text" class="validate">-->
                  <input *ngIf="this.form.controls['TipoDocumento'].value==1" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="8"  maxLength="8"  numbersOnly>
                  <input *ngIf="this.form.controls['TipoDocumento'].value==2" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="11"  maxLength="11" numbersOnly >
                  <input *ngIf="this.form.controls['TipoDocumento'].value==3" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="12" >
                  <input *ngIf="this.form.controls['TipoDocumento'].value==4" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="15" >
                  <input *ngIf="this.form.controls['TipoDocumento'].value==5" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="12" >


                  <label for="NroDocumento">Número de documento</label>
                  <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('NroDocumento')?.errors">
                    Número de documento invalido
                   </div>
              </div>
            </div>
          </div>

          <div class="row no-mar-bot">
            <div class="col s12 m12 l12">
              <div class="input-field col s12  w-full">
                  <input  formControlName="nombresCompletos" id="nombresCompletos"  name="nombresCompletos" type="text" class="validate active">
                  <label for="Nombres" class="active">Apellidos y Nombres</label>
              </div>
            </div>
          </div>

        </div>
        <div class="col s12 m12 l2">
            <button (click)="buscar()" class="btn btn-default-resize" style="margin-top:23px;">
              <span>Consultar</span>
              <i class="material-icons"></i>
            </button>
        </div>

      </form>

    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12">
          <span class="text-lg mb-4" style="padding-bottom: 16px;">Información del último crédito</span>
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <table mat-table [dataSource]="creditosClientes" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="CodCred">
            <th mat-header-cell *matHeaderCellDef> Nro. del último préstamo</th>
            <td mat-cell *matCellDef="let element"> {{element.codCred}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado del préstamo </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Saldo">
            <th mat-header-cell *matHeaderCellDef> Saldo Total</th>
            <td mat-cell *matCellDef="let element"> {{element.saldo | number : '1.2-2'}} </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12">
          <span class="text-lg mb-4" style="padding-bottom: 16px;">Lista de requerimientos</span>
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <table mat-table [dataSource]="requerimientos" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="Requerimiento">
            <th mat-header-cell *matHeaderCellDef> Requerimiento</th>
            <td mat-cell *matCellDef="let element"> {{element.nroReclamo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="FechaRegistro">
            <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="NroDocumento">
            <th mat-header-cell *matHeaderCellDef> Nro de Documento</th>
            <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres y Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.nombresApellidos  }} </td>
          </ng-container>

          <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionEstado  }} </td>
          </ng-container>

          <ng-container matColumnDef="Accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
              <i class="material-icons" style="cursor: pointer;" name="action" (click)="revisar(element)">visibility</i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="requerimientoColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: requerimientoColumns;"></tr>

        </table>
      </div>
    </div>


  </div>
</div>

