h1.title {
  font-family: Ubuntu;
  font-size: 25px !important;
  font-weight: bold;
  letter-spacing: 0px;
  color: #41af4f;
  border-left: 10px solid #ffd204;
  padding-left: 10px;
  margin: 10px 0;
}

.w-full {
  width: 100% !important;
}

.w-full{
  width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.mx-10{
  margin: 0px 10px;
}

.text-lg {
  font-size: 20px;
  font-weight: 600;
}

.mt-4 {
  margin-top: 4px;
}

.pt-4 {
  padding-top: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mt-10 {
  margin-top: 10px;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.text-rigth {
  text-align: right;
}

.font-x-small {
  font-size: x-small !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.align-items-center{
  align-items: center;
}
