<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Seguimiento de CNA y Garantías</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro" >           
            <div class="row no-mar-bot">             
              <div class="col s12 m6 l3">
                <div class="input-field input-field-common lbl-sar-mat-select col s10">
                    <mat-form-field class="w-full-a">
                        <mat-label>Agencia</mat-label>
                        <mat-select formControlName="CodAgencia">
                            <mat-option value="">Todos</mat-option>
                            <ng-container *ngFor="let agencia of agencias">
                                <mat-option value="{{agencia.codAgencia}}">{{agencia.oficina}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

              </div>
              <div class="col s12 m6 l1"></div>
              <div class="col s12 m6 l3">
                <div class="input-field input-field-common lbl-sar-mat-select col s10">
                    <mat-form-field class="w-full-a">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="CodEstado">                           
                                <mat-option value="">Todos</mat-option>
                                <ng-container *ngFor="let estado of estados">
                                    <mat-option value="{{estado.codEstado}}">{{estado.descripcion}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
              </div>
              <div class="col s12 m6 l1"></div>
              <div class="col s12 m6 l3">               
                  <div class="input-field col s12  w-full-a">
                    <input formControlName="NroDocumento" id="NroDocumento" type="text" 
                    class="validate text-descripcion" pattern="[0-9]+" minLength="8"  maxLength="11" 
                    (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                    numbersOnly>
                    <label for="NroDocumento">Nro Documento</label>
                    
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('NroDocumento')?.errors">
                        Ingresar 8 caracteres como mínimo
                    </div>
                </div>  

              </div>            
            </div>
            <div class="row no-mar-bot">  
                <div class="col s12 m6 l4">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Cancelación Inicio</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker"   formControlName="FechaCancelacionIni" 
                    [max]="busquedaFiltro.value.FechaCancelacionFin" 
                    (keypress)="($event.charCode >= 47 && $event.charCode < 58)">
                    <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FechaCancelacionIni')?.errors">
                        Debe ingresar la Fecha de Cancelación inicio
                    </div>
                </mat-form-field>
                </div> 
                <div class="col s12 m6 l4">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Cancelación Fin</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker2"  
                    formControlName="FechaCancelacionFin" [min]="busquedaFiltro.value.FechaCancelacionIni"
                    (keypress)="($event.charCode >= 47 && $event.charCode < 58)">
                    <mat-datepicker-toggle matSuffix [for]="miDatepicker2"></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker2></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FechaCancelacionFin')?.errors">
                        El valor debe ser mayor o igual a F. Cancelación Inicio.
                    </div>
                </mat-form-field>
                </div>  
                
                <div class="col s2 m6 l2 offset-s1">
                    <button (click)="ExportarExcel()" class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
                        <span>Exportar</span>
                        <i class="material-icons"></i>
                    </button>
                </div> 
  
                <div class="col s2 m6 l2 offset-s7">
                    <button  (click)="buscarListaCnaMinuta()" class="btn btn-default-resize"  style="margin-top:23px;" id="btnNuevo">
                        <span>Buscar</span>
                        <i class="material-icons"></i>
                    </button>
                </div>
        </div>
        <div class="row no-mar-bot">     
            <div class="col s2 m6 l4 offset-s7">  </div>
            <div class="col s2 m6 l2 offset-s7"style="float:right">  
                Automático Adm. de Age.
            </div> 
            <div class="col s2 m6 l1 offset-s7" style="float:right"> 
                <nav style="float: right;background-color: #80db7b;height: 20px;width: 40px; "></nav>
            </div> 
           
            <div class="col s2 m6 l2 offset-s7"style="float:right"> 
                Automático Garantías   
            </div>     
            <div class="col s2 m6 l1 offset-s7" style="float:right">  
                <nav style="float: right;background-color: #458a41 ;height: 20px;width: 40px; "></nav>
            </div> 
            <div class="col s2 m6 l1 offset-s7"style="float:right">
                Manual
           </div>           
            <div class="col s2 m6 l1 offset-s7"style="float:right"> 
                <nav style="float: right;background-color: #fff08f ;height: 20px; width: 40px; "></nav>                  
            </div>              
               
        </div>
    </form>
 </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="requerimiento-grid">
        <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
        <table mat-table [dataSource]="listaCnaMinuta" class="mat-elevation-z8">   
            <ng-container matColumnDef="fechaCancelacion">
                <th mat-header-cell *matHeaderCellDef> F. Cancelación </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaCancelacion | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
              <ng-container matColumnDef="nombresApellidos">
                <th mat-header-cell *matHeaderCellDef> Nombres y Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.nombresApellidos}} </td>
            </ng-container>
            <ng-container matColumnDef="nroDocumento">
                <th mat-header-cell *matHeaderCellDef> N° de Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
            </ng-container>
            <ng-container matColumnDef="banco">
                <th mat-header-cell *matHeaderCellDef> Banco </th>
                <td mat-cell *matCellDef="let element"> {{element.banco}} </td>
            </ng-container>
            <ng-container matColumnDef="agencia">
                <th mat-header-cell *matHeaderCellDef> Agencia </th>
                <td mat-cell *matCellDef="let element"> {{element.agencia}} </td>
            </ng-container>
            <ng-container matColumnDef="analistaProponente">
                <th mat-header-cell *matHeaderCellDef> Analista Proponente </th>
                <td mat-cell *matCellDef="let element"> {{element.analistaProponente}} </td>
            </ng-container>
             <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"
                [ngStyle]="{'background-color':element.estado=='Rechazado'?'#dd4e4e':''}"
                > {{element.estado}}                    
                </td>
            </ng-container>
           <ng-container matColumnDef="derivadoA">
                <th mat-header-cell *matHeaderCellDef> Derivado a </th>
                <td mat-cell *matCellDef="let element"> {{element.derivadoA}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaDerivacion" >
                <th mat-header-cell *matHeaderCellDef> F. Derivación </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaDerivacion | date: 'dd/MM/yyyy'}} </td>
            </ng-container>             
            <ng-container matColumnDef="procesamiento">
                <th mat-header-cell *matHeaderCellDef> Procesamiento </th>                
                <td mat-cell *matCellDef="let element" > 
                    <nav style="height: 20px;width: 40px;"
                    [ngStyle]="{'background-color':element.procesamiento=='1'?'#fff08f': element.procesamiento=='2'?'#458a41':'#80db7b'}"></nav>                      
                </td>              
            </ng-container>
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Ver Detalle </th>
                <td mat-cell *matCellDef="let element">
                <i class="material-icons" style="cursor: pointer;" name="action" >create</i>
             </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div> 
