

  <ng-container *ngFor="let recurso of documentosEvaluadosGarantia; let i = index">
    <div class="row mb-0" *ngIf="recurso.tipoRecursoID==4">
      <div class="col s12">
          <div *ngIf="recurso.laserficheID" class="row mb-0">
            <div class="col s12">
              <i (click)="DescargarArchivoLaserFiche(recurso.laserficheID,'Archivo {{i}}')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
              <span class="text-bold vertical-align-super">Archivo {{i+1}}</span>
              <i (click)="eliminarArchivoLaserFiche(recurso.laserficheID)"  class="material-icons cursor-pointer"  name="action">delete</i>
            </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngFor="let item of list; let i = index">
    <div class="row mb-0">
      <div class="col s9">
        <div class="row mb-0">
          <div class="col s12">
            <div class="file-field input-field flex align-items-center">

              <i class="material-icons">attach_file</i>
              <div class="">
                <input
                  id="File{{i+1}}"
                  #File{{i+1}}
                  type="file"
                  (change)="handleUpload($event,i+1)"
                  accept="application/pdf,image/jpeg"
                />
              </div>
              <div class="w-full">
                <input
                  id="Input{{i+1}}"
                  #Input{{i+1}}
                  class="file-path validate"
                  type="text"
                  placeholder="Tamaño máximo 2.5 MB"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s3">
          <button (click)="subirArchivo(i+1)"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
            <span>Subir Archivo</span>
            <i class="material-icons"></i>
          </button>
      </div>
    </div>
  </ng-container>



  <app-loading *ngIf="loading"></app-loading>


  <!-- <div class="row mb-0">
    <div class="col s9">
      <div class="row mb-0">
        <div class="col s12">
          <div class="file-field input-field flex align-items-center">

            <i class="material-icons">attach_file</i>
            <div class="">
              <input
                #File2
                type="file"
                (change)="handleUpload($event,2)"
                accept="application/pdf,image/jpeg"
              />
            </div>
            <div class="w-full">
              <input
                #Input2
                class="file-path validate"
                type="text"
                placeholder="Tamaño máximo 2.5 MB"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3">
        <button (click)="subirArchivo(2)"   class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
          <span>Subir Archivo</span>
          <i class="material-icons"></i>
        </button>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col s9">
      <div class="row mb-0">
        <div class="col s12">
          <div class="file-field input-field flex align-items-center">

            <i class="material-icons">attach_file</i>
            <div class="">
              <input
                #File3
                type="file"
                (change)="handleUpload($event,3)"
                accept="application/pdf,image/jpeg"
              />
            </div>
            <div class="w-full">
              <input
                #Input3
                class="file-path validate"
                type="text"
                placeholder="Tamaño máximo 2.5 MB"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3">
        <button (click)="subirArchivo(3)"   class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
          <span>Subir Archivo</span>
          <i class="material-icons"></i>
        </button>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col s9">
      <div class="row mb-0">
        <div class="col s12">
          <div class="file-field input-field flex align-items-center">

            <i class="material-icons">attach_file</i>
            <div class="">
              <input
                #File4
                type="file"
                (change)="handleUpload($event,4)"
                accept="application/pdf,image/jpeg"
              />
            </div>
            <div class="w-full">
              <input
                #Input4
                class="file-path validate"
                type="text"
                placeholder="Tamaño máximo 2.5 MB"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3">
        <button (click)="subirArchivo(4)"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
          <span>Subir Archivo</span>
          <i class="material-icons"></i>
        </button>
    </div>
  </div> -->



