<nav class="nav-horizontal">
    <div class="nav-wrapper">
        <a id="menu-open" class="menu-open" (click)="MenuOpenClick()" style="cursor:pointer"><i class="material-icons">menu</i> </a>
        <div class="row">
            <div class="col s7">
                <span class="titulo-web hide-on-small-only">SISTEMA DE ATENCIÓN DE RECLAMOS</span>
                <!-- <span class="hide-on-small-only" style="position: absolute;left: 65px;top: 26px;font-size: 16px;"><b>Agencia: </b>@DescripcionAgencia</span> -->
            </div>
            <div class="col s4">
                <span class="hide-on-small-only">Bienvenido(a) {{ nombreUsuario }}</span>
                <br />
                <!-- <span class="hide-on-small-only" style="position: absolute; top: 26px;font-size: 16px;"><b>Perfil:   </b>@Usuario.vPerfilDescripcion</span>                 -->
            </div>
            <!-- <div class="col s1">
          <span>
            <a class='dropdown-trigger' id="btnModalUpdatePerfilAgencia">
              <i class="material-icons left">settings</i>
              <i class="material-icons">keyboard_arrow_down</i>
            </a>
          </span>
        </div> -->
        </div>
    </div>
</nav>
