.w-full-a{
  width: 170%;
}

.w-full-b{
  width: 155%;
}

.w-full{
  width: 100%;
}

  
  .mx-auto {
    margin: 0 auto;
  }
  
  .mx-10{
    margin: 0px 10px;
  }
  
  .text-lg {
    font-size: 20px;
    font-weight: 600;
  }
  
  .mt-4 {
    margin-top: 4px;
  }
  
  .pt-4 {
    padding-top: 4px;
  }
  .mb-4 {
    margin-bottom: 4px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  
  .mb-0 {
    margin-bottom: 0px !important;
  }
  .mt-0 {
    margin-top: 0px !important;
  }
  .pt-0 {
    padding-top: 0px !important;
  }
  .text-rigth {
    text-align: right;
  }
  
  .font-x-small {
    font-size: x-small !important;
  }
  
   .flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
    
  .align-items-center{
    align-items: center;
  }
  
 
  .btn-default-resize-sar {
    padding: 0 16px !important;
    border-radius: 8px !important;
    background-color: rgba(0, 105, 79, 0.83) !important;
    text-transform: none !important;
    color: #ffd204 !important;
    font-family: "Ubuntu-Medium" !important;
    font-size: 16px !important;
    height: 38px !important;
    width: 100% !important;
  }
  
  
  
  