<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Reporte de Requerimiento</h1>
            </div>
        </div>
    </div>
  </div>

  <div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro">
            <div class="row no-mar-bot">
                <div class="col s3">
                  <div class="input-field input-field-common lbl-sar-mat-select col s12">
                      <mat-form-field class="w-full">
                          <mat-label>Tipo Requerimiento</mat-label>
                          <mat-select formControlName="CodTipoRequerimiento">
                              <mat-option value="0">Todos</mat-option>
                              <ng-container *ngFor="let parametro of parametros">
                                  <mat-option *ngIf="parametro.grupo==600" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                              </ng-container>
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>
              <div class="col s3">
                  <div class="input-field input-field-common lbl-sar-mat-select col s12">
                      <mat-form-field class="w-full">
                          <mat-label>Estado</mat-label>
                          <mat-select formControlName="Estado">
                              <mat-option value="0">Todos</mat-option>
                              <ng-container *ngFor="let parametro of parametros">
                                  <mat-option *ngIf="parametro.grupo==100" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                              </ng-container>
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>

                <div class="col s3 l3">

                  <mat-form-field class="mat-form-field-dpicker-sar w-full">
                    <mat-label>F. Registro Inicio</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker"  [max]="busquedaFiltro.value.Fecharegistrofin" formControlName="Fecharegistroinicio" (dateInput)="onChangeFechaRegistroIni">
                    <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fecharegistroinicio')?.errors">
                        El valor debe ser menor o igual a F.Registro Fin.
                    </div>
                </mat-form-field>

              </div>
              <div class="col s3 l3">
                <mat-form-field class="mat-form-field-dpicker-sar w-full">
                  <mat-label>F. Registro Fin</mat-label>
                  <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker2" [min]="busquedaFiltro.value.Fecharegistroinicio" formControlName="Fecharegistrofin" (dateInput)="onChangeFechaRegistroFin">
                  <mat-datepicker-toggle matSuffix [for]="miDatepicker2"></mat-datepicker-toggle>
                  <mat-datepicker #miDatepicker2></mat-datepicker>
                  <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fecharegistrofin')?.errors">
                      El valor debe ser mayor o igual a F.Registro Inicio.
                  </div>
              </mat-form-field>
              </div>

              <div class="col s10"></div>
                <div class="col s2 m6 l2 offset-s7">
                    <button (click)="ExportarExcel()" class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
                        <span>Excel</span>
                        <i class="material-icons"></i>
                    </button>
                </div>

            </div>

        </form>

    </div>

  </div>

  <div class="card-panel row layout-card-gray-2">

      <div class="col s12 center-align">

        <div  *ngIf="mensaje"style="color: red; font-weight: 600;">
          No se encontró información para el reporte
         </div>
    </div>

  </div>
  <app-loading *ngIf="loading"></app-loading>

