
<div id="ptv-dialog-confirm">
    <div class="modal-header">
        <i class="material-icons btn-close modal-action modal-close" id="no-button" [mat-dialog-close]="false">close</i>
    </div>
    <div class="modal-content center-align modal-alert-content">
        <i class="material-icons medium icon-demo yellow-text">question_answer</i>
        <p class="center-align p-desc-confirmacion">
            {{data.message}}
        </p>       
    </div> 

    <div class="modal-footer modal-alert-footer">
        <div class="row">
            <div class="col l6 m6 s12">
                <button id="yes-button" class="modal-close btn waves-effect waves-light btn-default" [mat-dialog-close]="true">
                    <span>Sí</span>
                </button>
            </div>
            <div class="col l6 m6 s12">
                <button id="no-button" class="btn waves-effect waves-light btn-warning modal-action modal-close btn-block" [mat-dialog-close]="false">
                    <span>No</span>
                </button>
            </div>            
        </div>
    </div>
</div>
