<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Gestión de Requerimientos</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro" (ngSubmit)="buscarListaRequerimiento()">
            <div class="row no-mar-bot">
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common lbl-sar-mat-select col s10">
                    <mat-form-field class="w-full-a">
                        <mat-label>Usuario Asignado</mat-label>
                        <mat-select formControlName="UsuarioAsignado">
                            <mat-option value="">Todos</mat-option>
                            <ng-container *ngFor="let usuario of usuarios">
                                <mat-option value="{{usuario.usuarioWeb}}">{{usuario.nombresApellidos}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col s12 m6 l1"></div>
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common lbl-sar-mat-select col s10">
                    <mat-form-field class="w-full-a">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="CodigoEstado">
                            <mat-option value="">Todos</mat-option>
                            <ng-container *ngFor="let parametro of parametros">
                                <mat-option *ngIf="parametro.grupo==100" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col s12 m6 l1"></div>

            <div class="col s12 m6 l2">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Registro Inicio</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker"  [max]="busquedaFiltro.value.Fecharegistrofin" formControlName="Fecharegistroini" (dateInput)="onChangeFechaRegistroIni">
                    <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fecharegistroini')?.errors">
                        El valor debe ser menor o igual a F.Registro Fin.
                    </div>
                </mat-form-field>


            </div>
            <div class="col s12 m6 l2">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Registro Fin</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker2" [min]="busquedaFiltro.value.Fecharegistroini" formControlName="Fecharegistrofin" (dateInput)="onChangeFechaRegistroFin">
                    <mat-datepicker-toggle matSuffix [for]="miDatepicker2"></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker2></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fecharegistrofin')?.errors">
                        El valor debe ser mayor o igual a F.Registro Inicio.
                    </div>
                </mat-form-field>
            </div>
            </div>
            <div class="row no-mar-bot">
                <div class="col s12 m6 l2">
                    <div class="input-field input-field-common lbl-sar-mat-select col s10">
                        <mat-form-field class="w-full">
                            <mat-label>Agencias</mat-label>
                            <mat-select formControlName="CodAgencia">
                                <mat-option value="">Todos</mat-option>
                                <ng-container *ngFor="let agencia of agencias">
                                    <mat-option value="{{agencia.codAgencia}}">{{agencia.oficina}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col s12 m6 l6"></div>
                <div class="col s12 m6 l2">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Atención Inicio</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker3" starttime="ngModel"  [max]="busquedaFiltro.value.Fechaatencionfin" formControlName="Fechaatencionini" (dateInput)="onChangeFechaAtencionIni">
                    <mat-datepicker-toggle matSuffix [for]="miDatepicker3"></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker3></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fechaatencionini')?.errors">
                        El valor debe ser menor o igual a F. Atención Fin.
                    </div>
                </mat-form-field>
                </div>
                <div class="col s12 m6 l2">
                <mat-form-field class="mat-form-field-dpicker-sar">
                    <mat-label>F. Atención Fin</mat-label>
                    <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker4" starttime="ngModel"  [min]="busquedaFiltro.value.Fechaatencionini" formControlName="Fechaatencionfin" (dateInput)="onChangeFechaAtencionFin">
                    <mat-datepicker-toggle matSuffix [for]="miDatepicker4"></mat-datepicker-toggle>
                    <mat-datepicker #miDatepicker4></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('Fechaatencionfin')?.errors">
                        El valor debe ser mayor o igual a F. Atención Inicio.
                    </div>
                </mat-form-field>
                </div>
            </div>
            <div class="row no-mar-bot">
                <div class="col s12 m6 l3">
                    <div class="input-field col s12  w-full-a">
                        <input formControlName="NroDocumento" id="NroDocumento" type="text" maxlength="11">
                        <label for="NroDocumento">Nro Documento</label>
                    </div>
                </div>

                <div class="col s12 m6 l5">
                    <div class="input-field input-field-common col s12">
                        <input formControlName="NombresApellidos" id="NombresApellidos" type="text" maxlength="120">
                        <label for="NombresApellidos">Nombres y Apellidos</label>
                    </div>

                </div>

                <div class="col s2 m6 l2 offset-s7">
                    <button class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
                        <span>Buscar</span>
                        <i class="material-icons"></i>
                    </button>
                </div>

                <div class="col s2 m6 l2 offset-s1">
                    <button routerLink="/gestion/requerimiento" class="btn btn-default-resize" style="margin-top:23px;" id="btnNuevo">
                        <span>Nuevo</span>
                        <i class="material-icons"></i>
                    </button>
                </div>
            </div>

        </form>

    </div>

</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="requerimiento-grid">
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

        <table mat-table [dataSource]="listaRequerimiento">
            <ng-container matColumnDef="nroReclamo">
                <th mat-header-cell *matHeaderCellDef> Nro de Reclamo </th>
                <td mat-cell *matCellDef="let element"> {{element.nroReclamo}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef> F. Registro </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="nroDocumento">
                <th mat-header-cell *matHeaderCellDef> Nro Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.nroDocumento}} </td>
            </ng-container>
            <ng-container matColumnDef="nombresApellidos">
                <th mat-header-cell *matHeaderCellDef> Nombres y Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.nombresApellidos}} </td>
            </ng-container>
            <ng-container matColumnDef="usuarioAsignado">
                <th mat-header-cell *matHeaderCellDef> Usuario Asignado </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioAsignado}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaAtencion">
                <th mat-header-cell *matHeaderCellDef> F. Atencion </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaAtencion}} </td>
            </ng-container>
            <ng-container matColumnDef="tipoRequerimiento">
                <th mat-header-cell *matHeaderCellDef> Tipo Requerimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoRequerimiento}} </td>
            </ng-container>
            <ng-container matColumnDef="agencia">
                <th mat-header-cell *matHeaderCellDef> Agencia </th>
                <td mat-cell *matCellDef="let element"> {{element.agencia}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcionEstado" style="padding: 1;">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.descripcionEstado=='Registrado'?'#fff08f': element.descripcionEstado=='Anulado'?'#c2c2c2': element.descripcionEstado=='Asignado'?'#80db7b': element.descripcionEstado=='En Proceso'?'#205c50': element.descripcionEstado=='Pendiente'?'#eb0000': element.descripcionEstado=='Sin Atención'?'#eb0000':element.descripcionEstado=='Derivado a OCM'?'#F1C40F': element.descripcionEstado=='Aprobado'?'#4d9cd1': element.descripcionEstado=='Sin Notificar'?'#e86181' : element.descripcionEstado=='Atendido'?'#1D8348' :''}"> {{element.descripcionEstado}} </td>
            </ng-container>
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Ver Detalle </th>
                <td mat-cell *matCellDef="let element">
                <!--<a routerLink="/gestion/requerimiento" routerLinkActive="active"  #rla="routerLinkActive" > !-->
                <i class="material-icons" style="cursor: pointer;" name="action" (click)="editarRequerimiento(element.nroReclamo)">create</i>
             </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<app-loading *ngIf="!peticionesTerminadas"></app-loading>
