<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Reporte de Gestión de Requerimiento</h1>
            </div>
        </div>
    </div>
  </div>

  <div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro">
            <div class="row no-mar-bot">
                <div class="col s12 m12 l3">

                  <mat-form-field class="mat-form-field-dpicker-sar w-full">
                      <mat-label>F. Registro Inicio</mat-label>
                      <input formControlName="FRegistroInicial" [max]="busquedaFiltro.value.FRegistroFin" class="mat-input-dpicker w-full" matInput [matDatepicker]="FRegistroInicial" >
                      <mat-datepicker-toggle matSuffix [for]="FRegistroInicial"></mat-datepicker-toggle>
                      <mat-datepicker  #FRegistroInicial></mat-datepicker>
                      <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FRegistroInicial')?.errors">
                        El valor debe ser menor o igual a F. Registro Fin.
                      </div>
                  </mat-form-field>
              </div>
              <div class="col s12 m12 l3">
                <mat-form-field class="mat-form-field-dpicker-sar w-full">
                    <mat-label>F. Registro Fin</mat-label>
                    <input formControlName="FRegistroFin" [min]="busquedaFiltro.value.FRegistroInicial" class="mat-input-dpicker w-full" matInput [matDatepicker]="FRegistroFin">
                    <mat-datepicker-toggle matSuffix [for]="FRegistroFin"></mat-datepicker-toggle>
                    <mat-datepicker  #FRegistroFin></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FRegistroFin')?.errors">
                      El valor debe ser mayor o igual a F. Registro Inicio.
                    </div>
                </mat-form-field>
              </div>
              <div class="col s12 m12 l3">
                  <mat-form-field class="mat-form-field-dpicker-sar w-full">
                      <mat-label>F. Asignación Inicio</mat-label>
                      <input formControlName="FAsignacionInicio" [max]="busquedaFiltro.value.FAsignacionFin" class="mat-input-dpicker w-full" matInput [matDatepicker]="FAsignacionInicio"  >
                      <mat-datepicker-toggle [for]="FAsignacionInicio" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker   #FAsignacionInicio></mat-datepicker>

                      <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FAsignacionInicio')?.errors">
                        El valor debe ser menor o igual a F. Asignación Fin.
                      </div>

                  </mat-form-field>
              </div>

              <div class="col s12 m12 l3">
                  <mat-form-field class="mat-form-field-dpicker-sar w-full">
                      <mat-label>F. Asignación Fin</mat-label>
                      <input formControlName="FAsignacionFin" [min]="busquedaFiltro.value.FAsignacionInicio" class="mat-input-dpicker w-full" matInput [matDatepicker]="FAsignacionFin" >
                      <mat-datepicker-toggle matSuffix [for]="FAsignacionFin"></mat-datepicker-toggle>
                      <mat-datepicker class="w-full" #FAsignacionFin></mat-datepicker>
                      <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FAsignacionFin')?.errors">
                        El valor debe ser mayor o igual a F. Asignación Inicio.
                      </div>
                  </mat-form-field>
              </div>
            </div>

            <div class="row no-mar-bot">
              <div class="col s12 m12 l3">
                <mat-form-field class="mat-form-field-dpicker-sar w-full">
                    <mat-label>F. Gestión Inicio</mat-label>
                    <input formControlName="FGestionInicio" [max]="busquedaFiltro.value.FGestionFin" class="mat-input-dpicker w-full" matInput [matDatepicker]="FGestionInicio" >
                    <mat-datepicker-toggle matSuffix [for]="FGestionInicio"></mat-datepicker-toggle>
                    <mat-datepicker  #FGestionInicio></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FGestionInicio')?.errors">
                      El valor debe ser menor o igual a F. Gestión Fin.
                    </div>
                </mat-form-field>
            </div>
            <div class="col s12 m12 l3">
              <mat-form-field class="mat-form-field-dpicker-sar w-full">
                  <mat-label>F. Gestión Fin</mat-label>
                  <input formControlName="FGestionFin" [min]="busquedaFiltro.value.FGestionInicio" class="mat-input-dpicker w-full" matInput [matDatepicker]="FGestionFin" >
                  <mat-datepicker-toggle matSuffix [for]="FGestionFin"></mat-datepicker-toggle>
                  <mat-datepicker  #FGestionFin></mat-datepicker>
                  <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FGestionFin')?.errors">
                    El valor debe ser mayor o igual a F. Gestión Inicio.
                  </div>
              </mat-form-field>
            </div>
            <div class="col s12 m12 l3">
                <mat-form-field class="mat-form-field-dpicker-sar w-full">
                    <mat-label>F. Atención Inicio</mat-label>
                    <input formControlName="FAtencionInicio" [max]="busquedaFiltro.value.FAtencionFin" class="mat-input-dpicker w-full" matInput [matDatepicker]="FAtencionInicio"  >
                    <mat-datepicker-toggle [for]="FAtencionInicio" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker   #FAtencionInicio></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FGestionInicio')?.errors">
                      El valor debe ser menor o igual a F. Atención Fin.
                    </div>
                </mat-form-field>
            </div>

            <div class="col s12 m12 l3">
                <mat-form-field class="mat-form-field-dpicker-sar w-full">
                    <mat-label>F. Atención Fin</mat-label>
                    <input formControlName="FAtencionFin" [min]="busquedaFiltro.value.FAtencionInicio"  class="mat-input-dpicker w-full" matInput [matDatepicker]="FAtencionFin">
                    <mat-datepicker-toggle matSuffix [for]="FAtencionFin"></mat-datepicker-toggle>
                    <mat-datepicker class="w-full" #FAtencionFin></mat-datepicker>
                    <div style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('FGestionFin')?.errors">
                      El valor debe ser mayor o igual a F. Atención Inicio.
                    </div>
                </mat-form-field>
            </div>
          </div>

            <div class="row no-mar-bot">
                <div class="col s12 m6 l3">
                  <div class="input-field input-field-common lbl-sar-mat-select">
                      <mat-form-field class="w-full">
                          <mat-label>Tipo Requerimiento</mat-label>
                          <mat-select formControlName="TipoRequerimiento">
                              <mat-option value="0">Todos</mat-option>
                              <ng-container *ngFor="let parametro of parametros">
                                  <mat-option *ngIf="parametro.grupo==600" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                              </ng-container>
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>

              <div class="col s12 m6 l3">
                  <div class="input-field input-field-common lbl-sar-mat-select">
                      <mat-form-field class="w-full">
                          <mat-label>Estado</mat-label>
                          <mat-select formControlName="Estado">
                              <mat-option value="0">Todos</mat-option>
                              <ng-container *ngFor="let parametro of parametros">
                                  <mat-option *ngIf="parametro.grupo==100" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                              </ng-container>
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>

              <div class="col s2 m6 l6">
                <div class="col s2 m6 l4" style="margin-top:23px; float: right;">
                  <button (click)="ExportarExcel()" class="btn waves-effect waves-light btn-default-resize" type="submit" >
                      <span>Excel</span>
                      <i class="material-icons"></i>
                  </button>
                </div>
              </div>


            </div>

        </form>

    </div>

  </div>

  <div class="card-panel row layout-card-gray-2">
    <div class="col s12 center-align">

        <div  *ngIf="mensaje"style="color: red; font-weight: 600;">
          No se encontró información para el reporte
         </div>
    </div>
  </div>
  <app-loading *ngIf="loading"></app-loading>

