<div class="section no-padding">
  <div class="row  col s12 no-mar-bot">
      <div class="section no-mar-bot">
          <div class="col s12 m12 l8">
              <h1 class="title">Detalle Requerimiento</h1>
          </div>
          <div class="col s12 m12 l4">
            <h1 class="subtitle">RQ: {{ NroReclamo }}</h1>

          </div>
      </div>
  </div>
</div>

<mgl-timeline [alternate]="alternate" [side]="side" [toggle]="toggle">
  <mgl-timeline-entry *ngFor="let entry of requerimientoSeguimiento; let i = index">
    <mgl-timeline-entry-header (click)="onHeaderClick($event)">
      <div>{{entry.estado | uppercase}}</div>
      <div *ngIf="!entry.fechaEntrega">Días transcurridos: {{entry.diasTranscurrido}}</div>
      <div *ngIf="entry.fechaEntrega">Días transcurridos desde su registro: {{diasTranscurridos }}</div>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <div *ngIf="entry.requerimientoAsignacion && i>0">
        <div *ngFor="let asignacion of entry.requerimientoAsignacion">
          - Usuario Asignado :  {{asignacion.usuarioAsignado | uppercase}}  el  {{asignacion.fechaRegistro | date:'dd/MM/yyyy'}}
        </div>

      </div>
      <div *ngIf="entry.fechaCartaRespuesta">
        - Carta de Respuesta :   {{entry.fechaCartaRespuesta | date:'dd/MM/yyyy'}}
      </div>
      <div *ngIf="entry.fechaCartaRespuestaOcm">
        - Carta de Respuesta OCM:   {{entry.fechaCartaRespuestaOcm | date:'dd/MM/yyyy'}}
      </div>
      <div *ngIf="entry.fechaEntrega">
        - Fecha de entrega de carta de respuesta:   {{entry.fechaEntrega | date:'dd/MM/yyyy'}}
      </div>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot  style="background-color: #26a69a;" class="timeline-dot"  [size]="size"></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side style="padding: 15px;">{{entry.fechaRegistro | date:'dd/MM/yyyy'}}</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>


<div>
  <div class="row">
    <div class="col s12 w-full center-align">
      <div class="col offset-l3 s12 m12 l6 offset-l3  w-full center-align align-items-center mx-auto flex flex-row">
        <button  routerLink="/seguimiento" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;"  >
          <span>Regresar</span>
          <i class="material-icons"></i>
      </button>
      </div>
    </div>
  </div>
</div>
