     <!--NAV BAR INICIO-->
     <nav class="nav-horizontal">
      <div class="nav-wrapper">
          <div class="row">
              <a href="#" class="brand-logo">
                  <img src="assets/img/logo-principal.png" alt="login" class="responsive-img">
              </a>
              <div class="col s4 offset-s4 text-center">
                  <span class="titulo-web hide-on-small-only hide-on-med-only">Preguntas Frecuentes</span>
              </div>
          </div>
      </div>
    </nav>
    <!--NAV BAR FIN-->

<!--CONTENT INICIO-->
<div class="container-detail layout-card-gray-1 no-pad-top pb-50">

  <div class="container" style="margin-bottom: 10%;">
<!--
    <div class="section no-padding">
      <div class="row  col s12 no-mar-bot">
          <div class="section no-mar-bot">
              <div class="col s12 m12 l12">
              </div>
          </div>
      </div>
    </div>
  -->
    <div class="section">
      <div class="row col s12 no-mar-bot">
        <div class="card-panel row layout-card-gray-2" style="margin-bottom: 0px;">
          <div>
            <ul class="collapsible">
              <li class="hide-on-large-only">
                <div class="collapsible-header text-center" style="background:#fff;"><span class="titulo-web" style="font-size: 1.5em!important;">Preguntas Frecuentes</span></div>
              </li>
              <li *ngFor="let parametro of parametrospreguntas">
                <div class="collapsible-header" style="font-size:20px;background:#41af4f;color:#fff"><i class="material-icons">question_answer</i>{{parametro.descripcion}}</div>
                <div class="collapsible-body collapsible-body-respuestas-frecuentes" style="background: #fff;" [innerHtml]="parametro.valor">
                  <span>{{parametro.valor}}</span>
                </div>
              </li>
              <li>
                <div class="collapsible-header" style="font-size:20px;background:#41af4f;color:#fff"><i class="material-icons">email</i>¿Necesitas más ayuda?</div>
                <div class="collapsible-body" style="background: #fff;">
                  <p class="center-align"><span style="font-size: 24px;"><b>Contáctanos</b></span></p>
                  <form [formGroup]="form" novalidate >


                    <div class="row no-mar-bot">
                      <div class="col s12 m12 l6">
                        <div class="input-field input-field-common col lbl-sar-mat-select s12" >
                            <mat-form-field  class="w-full">
                              <mat-label>Tipo Documento</mat-label>
                              <mat-select
                                formControlName="TipoDocumento"
                                (selectionChange)="onChangeTipoDocumento()">
                                <ng-container *ngFor="let parametro of parametros">
                                  <mat-option *ngIf="parametro.grupo==300" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                                </ng-container>
                              </mat-select>
                              <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('TipoDocumento')?.errors">
                                Seleccione un tipo de documento
                              </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <div class="input-field col s12  w-full">

                          <input *ngIf="this.form.controls['TipoDocumento'].value!=1 && this.form.controls['TipoDocumento'].value!=2 &&  this.form.controls['TipoDocumento'].value!=3 &&  this.form.controls['TipoDocumento'].value!=4 &&  this.form.controls['TipoDocumento'].value!=5" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="0"  maxLength="0"  >


                          <input *ngIf="this.form.controls['TipoDocumento'].value==1" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="8"  maxLength="8"  numbersOnly>
                          <input *ngIf="this.form.controls['TipoDocumento'].value==2" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[0-9]+"  minlength="11"  maxLength="11" numbersOnly >
                          <input *ngIf="this.form.controls['TipoDocumento'].value==3" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="12" >
                          <input *ngIf="this.form.controls['TipoDocumento'].value==4" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="15" >
                          <input *ngIf="this.form.controls['TipoDocumento'].value==5" formControlName="NroDocumento" id="NroDocumento" type="text" class="validate text-descripcion" pattern="[a-zA-Z0-9]+" maxLength="12" >


                            <label class="label-input-sar" for="NroDocumento">Número de documento</label>
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('NroDocumento')?.errors">
                              Ingrese su numero de documento
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row no-mar-bot">
                      <div class="col s12">
                          <div class="input-field col s12  w-full">
                              <input formControlName="NombresCompletos" id="NombresCompletos" type="text" class="validate" [readonly]="esRuc" maxlength="{{MaxLengthNombres}}">
                              <label for="NombresCompletos">Apellidos y Nombres</label>
                              <div class="flex flex-row">
                                <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('NombresCompletos')?.errors">
                                  ingrese su nombre
                                </div>
                                <div class="mt-0 pt-0 text-rigth w-full">
                                  <span class="font-x-small" *ngIf="this.form.controls['NombresCompletos'].value==null"> 0/{{MaxLengthNombres}}</span>
                                  <span class="font-x-small" *ngIf="this.form.controls['NombresCompletos'].value!=null"> {{this.form.controls['NombresCompletos'].value.length}}/{{MaxLengthNombres}}</span>
                                </div>
                              </div>
                          </div>
                      </div>

                    </div>


                    <div class="row no-mar-bot">
                      <div class="col s12">
                        <div class="input-field col s12  w-full">
                            <input formControlName="Direccion" id="Direccion" type="text" class="validate">
                            <label for="Direccion">Dirección</label>
                            <div class="flex flex-row">
                              <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Direccion')?.errors">
                                referencia invalida
                              </div>
                              <div class="mt-0 pt-0 text-rigth w-full">
                                <span class="font-x-small" *ngIf="this.form.controls['Direccion'].value==null"> 0/{{MaxlengthDireccion}}</span>
                                <span class="font-x-small" *ngIf="this.form.controls['Direccion'].value!=null"> {{this.form.controls['Direccion'].value.length}}/{{MaxlengthDireccion}}</span>
                              </div>
                            </div>


                        </div>
                      </div>


                    </div>

                    <div class="row no-mar-bot">
                      <div class="col s12 m12 l6">
                        <div class="input-field col s12  w-full">
                            <input formControlName="CorreoElectronico" id="CorreoElectronico" type="email" class="validate">
                            <label for="CorreoElectronico">Correo electrónico</label>
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('CorreoElectronico')?.errors">
                              Ingrese un correo electrónico válido
                            </div>
                        </div>
                      </div>



                      <div class="col s12 m12 l6">
                        <div class="input-field col s12  w-full">
                            <input formControlName="Celular" id="Celular" type="tel" class="validate">
                            <label for="Celular">Celular</label>
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && form.get('Celular')?.errors">
                              Numero ingresado de celular no valido
                            </div>
                        </div>
                      </div>

                    </div>


                    <div class="row no-mar-bot">
                      <div class="col s12">
                        <div class="input-field col s12  w-full">
                          <textarea formControlName="Descripcion" id="Descripcion" class="materialize-textarea" maxlength="{{lengthDescripcion}}"></textarea>
                          <label for="Descripcion">Detalle de la consulta</label>
                          <div class="flex flex-row">
                            <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Descripcion')?.errors">
                              ingrese una descripcion al requerimiento
                            </div>
                            <div class="mt-0 pt-0 text-rigth w-full">
                              <span class="font-x-small" *ngIf="this.form.controls['Descripcion'].value==null"> 0/{{lengthDescripcion}}</span>
                              <span class="font-x-small" *ngIf="this.form.controls['Descripcion'].value!=null"> {{this.form.controls['Descripcion'].value.length}}/{{lengthDescripcion}}</span>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>


                    <div  class="row no-mar-bot">
                      <div class="col s12 m12 l6">
                          <div class="row no-mar-bot">
                              <div class="col s12 align-items-center">
                                <h5>Documentos Adjuntos</h5>
                                <p>Puede adjuntar voucher, estados de cuenta, imágenes u otros documentos para susentar su reclamo. Los formatos permitidos son: PDF/JPG</p>
                                <p>(El archivo no debe pesar mas de 1 MB)</p>
                              </div>
                          </div>
                      </div>
                      <div class="col s12 m12 l6">
                        <div class="row no-mar-bot">
                          <div class="col s11">


                            <div class="file-field input-field flex align-items-center">
                              <i class="material-icons">attach_file</i>
                              <div class="">
                                <input type="file" #myInputArchivo1 formControlName="Archivo1" (change)="handleUpload($event,1)" accept="application/pdf,image/jpeg,image/png">
                              </div>
                              <div class="file-path-wrapper w-full">
                                <input  #myInputTextArchivo1 class="file-path validate" type="text" placeholder="Tamaño maximo 1 MB">
                              </div>
                            </div>
                          </div>
                          <div class="col s1" style="padding: 0;">
                            <div class="file-field input-field flex align-items-center" style="margin-top: 2.4rem;">
                                <i  *ngIf="bMostrarArchvo1" (click)="LimpiarUpload(1)" class="material-icons cursor-pointer"  name="action" >close</i>
                            </div>
                          </div>
                        </div>

                        <div class="row no-mar-bot">
                          <div class="col s11">
                            <div class="file-field input-field flex align-items-center">
                              <i class="material-icons">attach_file</i>
                              <div class="">
                                <input #myInputArchivo2 type="file" formControlName="Archivo2" (change)="handleUpload($event,2)" accept="application/pdf,image/jpeg,image/png">
                              </div>
                              <div class="file-path-wrapper w-full">
                                <input  #myInputTextArchivo2 class="file-path validate" type="text" placeholder="Tamaño maximo 1 MB">
                              </div>
                            </div>
                          </div>
                          <div class="col s1" style="padding: 0;">
                            <div class="file-field input-field flex align-items-center" style="margin-top: 2.4rem;">
                                <i  *ngIf="bMostrarArchvo2" (click)="LimpiarUpload(2)" class="material-icons cursor-pointer"  name="action" >close</i>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>


                  <div *ngIf="!bRegistroConsulta" class="row" style="overflow-x: auto;">
                      <div class="col s12 w-full center-align">
                          <re-captcha id="g-recaptcha" class="g-recaptcha"
                          (resolved)="resolved($event)"
                          siteKey="{{siteKey}}"
                        ></re-captcha>
                      </div>
                    </div>

                    <div *ngIf="!bRegistroConsulta" class="row">
                      <div class="col s12 w-full center-align">
                        <label   (click)="openDialogoTerminosCondiciones()">
                          <input type="checkbox" class="filled-in" disabled  [checked]="checkedTerminos"  />
                          <span class="TerminosCondiciones">Acepto los terminos y condiciones</span>
                        </label>

                      </div>
                    </div>


                    <div class="row">
                      <div class="col s12 w-full center-align">
                        <div class="col offset-l3 s12 m12 l6 offset-l3  w-full center-align align-items-center mx-auto flex flex-row">

                        <button (click)="Registrar()" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                          <i class="material-icons">save</i>
                          &nbsp;<span>Enviar</span>
                        </button>

                        </div>

                      </div>
                    </div>

                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>
  </div>

</div>
<app-footer></app-footer>

<!--CONTENT FIN-->


