   .w-full{
    width: 100%;
  }

  .mx-auto {
    margin: 0 auto;
  }

  .mx-10{
    margin: 0px 10px;
  }

  .mt-0 {
    margin-top: 0px !important;
  }
  .pt-0 {
    padding-top: 0px !important;
  }
  .text-rigth {
    text-align: right;
  }

  .font-x-small {
    font-size: x-small !important;
  }

  .flex {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
  }

  .g-recaptcha {
    display: inline-block;
  }

  .TerminosCondiciones {
    border-bottom: 1px solid #4CAF50;
  }

  .align-items-center{
    align-items: center;
  }


.btn-default-resize-sar {
  padding: 0 16px !important;
  border-radius: 8px !important;
  text-transform: none !important;
  font-family: "Ubuntu-Medium" !important;
  font-size: 12px !important;
  height: 38px !important;
  width: 100% !important;

  background: #00694F;
  border-color: #00694F;
  color: white;
}

.btn-default-resize-sar:hover {

  color: #FFD204;
  background: #065a45;
  border-color: #065a45;
}

  .collapsible-body-respuestas-frecuentes {
    font-size:16px;
  }

  .cursor-pointer{
    cursor: pointer;
  }
  @media only screen and (min-width: 601px)
  {
    .collapsible-body-respuestas-frecuentes {
      font-size:18px;
    }
  }




  @media screen and (max-width: 992px) {
    #g-recaptcha {
      transform:scale(0.85);transform-origin:0;
    }
  }

  @media screen and (max-width: 600px) {
    #g-recaptcha {
      transform:scale(0.75);transform-origin:0;
    }
  }
  @media screen and (max-width: 400px) {
    #g-recaptcha {
      transform:scale(0.75);transform-origin:0;
    }
  }
  @media screen and (max-width: 300px) {
    #g-recaptcha {
      transform:scale(0.65);transform-origin:0;
    }
  }
