h1.subtitle {
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0px;
  background: #41af4f;
  color: #fff;
  margin: 10px;
  text-align: center;
}


.w-full{
  width: 100% !important;
 }

 .cursor-pointer{
   cursor: pointer;
 }

 .vertical-align-super
 {
  vertical-align: super;
 }
 .text-end{
   text-align: end;
 }

 .text-bold {
   font-weight: 600;
 }

 .mx-auto {
  margin: 0 auto;
}

.mx-10{
  margin: 0px 10px;
}

.text-lg {
  font-size: 20px;
  font-weight: 600;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mt-0 {
  margin-top: 0px !important;
}

.flex {
  display: flex !important;
  width: 50% !important;
}
.flex-row {
  flex-direction: row !important;
}

.text-rigth {
  text-align: right;
}

.btn-comentario{
  display:block;
  width:60px;
  height:60px;
  color:#fff;
  position: fixed;
  right:90px;
  bottom:10px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}



.rounded-lg {
  border-radius: 0.5rem;
}
.bg-white {
  background: white;
}

.items-center {	align-items: center; }
