<div *ngIf="RequerimientoDetalle" class="container">
  <div class="section no-padding">
    <div class="row  col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l8">
                <h1 class="title">Requerimiento {{ RequerimientoDetalle.nroRequerimiento }}</h1>
            </div>
            <div class="col s12 m12 l4">
              <h1 class="subtitle"> {{ RequerimientoDetalle.descripcionEstado }}</h1>

            </div>
        </div>
    </div>
  </div>

  <div class="card-panel row layout-card-gray-2">

    <div class="row mb-0">
        <form  novalidate >
          <div class="row ">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos de Oficina</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>

          <div class="row mb-0">
              <div class="col s4">
                <div class="input-field col s12  w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.agencia}}</p>
                  <label class="active" for="Agencia">Oficina</label>
              </div>

            </div>
            <div class="col s8">
              <div class="input-field col s12  w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.direccionAgencia}}</p>
                  <label class="active" for="DireccionAgencia">Dirección</label>
              </div>
          </div>
          </div>


          <div class="row mb-0">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos personales</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>

          <div class="row mb-0">
              <div class="col s12">
                <div class="input-field input-field-common col s4 ">
                    <div>
                      <label for="">¿Es menor de edad?</label>
                    </div>
                </div>
                <div class="col s2" >
                  <p *ngIf="RequerimientoDetalle.esMenor==0">No</p>
                  <p *ngIf="RequerimientoDetalle.esMenor==1">Si</p>
                </div>
            </div>




          </div>

          <div class="row mb-0">
            <div class="col s6">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{RequerimientoDetalle.tipoDocumentoDescripcion}}</p>
                <label class="active">Tipo Documento</label>
              </div>
            </div>

             <div class="col s6">
                <div class="input-field col s12  w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.nroDocumento}}</p>
                  <label class="active">Número de documento</label>
                </div>
              </div>
          </div>

          <div class="row mb-0">
            <div class="col s4">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{RequerimientoDetalle.nombres}}</p>
                <label class="active">Nombres</label>
              </div>
            </div>
            <div class="col s4">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{RequerimientoDetalle.primerApellido}}</p>
                <label class="active">Primer Apellido</label>
              </div>
            </div>
            <div class="col s4">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{RequerimientoDetalle.segundoApellido}}</p>
                <label class="active">Segundo Apellido</label>
              </div>
            </div>
          </div>

          <div class="row mb-0">
            <div class="col s12">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{RequerimientoDetalle.razonSocial}}</p>
                <label class="active">Razón Social</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos del contacto</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>

          <div class="row mb-0">
            <div class="col s4">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.departamento}}</p>
                  <label class="active">Departamento</label>
              </div>
            </div>
            <div class="col s4">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.provincia}}</p>
                  <label class="active">Provincia</label>
              </div>
            </div>
            <div class="col s4">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.distrito}}</p>
                  <label class="active">Distrito</label>
              </div>
            </div>

          </div>


          <div class="row mb-0">
            <div class="col s6">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5" style="word-wrap: break-word;">{{RequerimientoDetalle.direccion}}</p>
                  <label class="active">Dirección</label>
              </div>
            </div>

            <div class="col s6">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5" style="word-wrap: break-word;">{{RequerimientoDetalle.referencia}}</p>
                  <label class="active">Referencia</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s4">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.correoElectronico}}</p>
                  <label class="active">Correo electrónico</label>
              </div>
            </div>

            <div class="col s4">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.telefono}}</p>
                  <label class="active">Teléfono Fijo</label>
              </div>
            </div>

            <div class="col s4">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.celular}}</p>
                  <label class="active">Celular</label>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Datos del requerimiento, queja o solicitud</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>


          <div class="row mb-0">
          <div class="col s6">
              <div class="input-field col s12 w-full mb-0">
                  <p class="mt-5">{{RequerimientoDetalle.producto}}</p>
                  <label class="active">Producto</label>
              </div>
          </div>
          <div class="col s6">
            <div class="input-field input-field-common col s12 mb-0">
              <p class="mt-5">{{RequerimientoDetalle.tipoRequerimiento}}</p>
              <label class="active">Reclamo, queja o solicitud</label>
            </div>
          </div>
        </div>


        <div class="row mb-0">
          <div class="col s12">
            <div class="input-field col s12  w-full mb-0">
              <p class="mt-5">{{RequerimientoDetalle.motivo}}</p>
              <label class="active">Motivo</label>
            </div>
          </div>
        </div>

        <div class="row mb-0">
            <div class="col s12">
              <div class="input-field col s12 w-full mb-0">
                <p  id="Descripcion" style="word-wrap: break-word;" class="mt-5">{{ RequerimientoDetalle.descripcion }}</p>
                <label class="active" for="Descripcion">Descripción</label>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col s7">
              <div class="input-field col s12">
                <p class="mt-5">{{RequerimientoDetalle.formaEnvio}}</p>
                <label class="active">¿Dónde desea el cliente que se le envíe la carta de respuesta?</label>
              </div>
            </div>

            <div class="col s5" *ngIf="RequerimientoDetalle.laserFicheRequerimiento">
              <div class="input-field col s12 text-end">
                <i (click)="DescargarArchivos(RequerimientoDetalle.laserFicheRequerimiento)" class="material-icons cursor-pointer"  name="action"  >archive</i>
                <span class="text-lgn vertical-align-super">Descargar archivos adjuntos</span>
              </div>
            </div>
          </div>


          <div *ngIf="RequerimientoDetalle.codTipoRequerimiento==Solicitud">
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="col s12">
                  <span class="text-lg mb-4" style="padding-bottom: 16px;">Información del último crédito</span>
                  <div class="divider mt-10"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <table mat-table [dataSource]="RequerimientoDetalle.creditosClientes" class="mat-elevation-z8">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="CodCred">
                    <th mat-header-cell *matHeaderCellDef> Nro. del último préstamo</th>
                    <td mat-cell *matCellDef="let element"> {{element.codCred}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef> Estado del préstamo </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="Saldo">
                    <th mat-header-cell *matHeaderCellDef> Saldo Total</th>
                    <td mat-cell *matCellDef="let element"> {{element.saldo | number : '1.2-2'}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="FechaPago">
                    <th mat-header-cell *matHeaderCellDef> Fecha de Pago </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaPago  }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
          </div>
          </div>





          <!--*ngIf="ocultarInput"-->
          <div class="row mb-0">
            <div class="col s12 m12 l12">
              <div class="row">
                <div class="col s6">
                  <span class="text-lg mb-4">Gestión del Reclamo, Queja o Solicitud</span>
                </div>
                <div class="col s6 text-end">
                  <span class="">Usuario Asignado: {{RequerimientoDetalle.usuarioAsignado}}</span>
                </div>
              </div>
              <div class="divider mt-10"></div>
            </div>
          </div>

          <div class="col s12"  *ngFor="let comentario of RequerimientoDetalle.comentarios">
            <div class="input-field input-field-common col s12 mb-0">
              <div>
                <div>
                  <i class="material-icons cursor-pointer"  name="action" >person</i>
                 <span class="vertical-align-super text-bold">{{ comentario.nombresApellidos }}</span>
                 <i *ngIf="comentario.laserficheID" (click)="DescargarArchivos(comentario.laserficheID)" class="material-icons cursor-pointer"  name="action" >archive</i>

                </div>
                <div *ngIf="RequerimientoDetalle.estado!=2">
                  <span class="text-bold">Fecha Comentario: </span>{{ comentario.fechaRegistro | date: 'dd/MM/yyyy HH:mm:ss'}}
                </div>
                <div *ngIf="RequerimientoDetalle.estado!=2">
                  <div *ngIf="comentario.fechaSolicitud">
                    <span class="text-bold">Fecha Derivación: </span>{{ comentario.fechaSolicitud | date: 'dd/MM/yyyy'}}
                  </div>
                </div>
                <div *ngIf="RequerimientoDetalle.estado==2">
                  <span class="text-bold">Fecha : </span>{{ comentario.fechaRegistro | date: 'dd/MM/yyyy'}}
                </div>


                <div *ngIf="RequerimientoDetalle.estado!=2">
                  <div *ngIf="comentario.area">
                    <span class="text-bold">Área : </span> {{ comentario.area }}
                  </div>
                </div>
                <div *ngIf="RequerimientoDetalle.estado==2">
                  <span class="text-bold">Motivo : </span> {{ comentario.motivo }}
                </div>
                <div *ngIf="comentario.descripcion">
                    <p class="mt-0 mb-0">{{ comentario.descripcion }}</p>
                </div>
              </div>
              <div class="divider mt-5"></div>
          </div>

        </div>



      <div *ngIf="RequerimientoDetalle.estado==5 || RequerimientoDetalle.estadoAnterior==5" class="col s12">
          <div *ngIf="RequerimientoDetalle.laserFicheIDCartaRespuesta"  class="input-field col s12"  >
            <i (click)="DescargarCartaRespuesta(RequerimientoDetalle.laserFicheIDCartaRespuesta)" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
            <span class="text-bold vertical-align-super">Carta de respuesta</span>

            <i *ngIf="mostrarBotonEliminar" (click)="EliminarCartaRespuestaACM(RequerimientoDetalle.laserFicheIDCartaRespuesta)" class="material-icons cursor-pointer"  name="action">delete</i>
          </div>

          <div  *ngIf="!RequerimientoDetalle.laserFicheIDCartaRespuesta && mostrarInputCartaRespuesta"  class="input-field"  >
            <div class="col s9">
              <div class="input-field input-field-common lbl-sar-mat-select">
                <div class="col s12 align-items-center">
                  <div class="file-field input-field flex align-items-center">
                    <div class="">
                      <input type="file" #CartaRespuestaACM (change)="changeSeletedCartaRespuestaACM($event)"  accept="docx.doc,.,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"  >
                    </div>
                    <i class="material-icons">attach_file</i>
                    <div class="file-path-wrapper w-full">
                      <input class="file-path validate" #CartaRespuestaACMText type="text" placeholder="Carta de respuesta/Constancia">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s3">
              <div class="input-field col s12  w-full">
                <button (click)="SubirCartaRespuestaACM()"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
                  <span>Subir Archivo</span>
                  <i class="material-icons"></i>
              </button>
              </div>
            </div>
          </div>

      </div>

      <div *ngIf="RequerimientoDetalle.estado>5 && RequerimientoDetalle.estadoAnterior>5" class="col s12">
        <div *ngIf="RequerimientoDetalle.laserFicheIDCartaRespuestaOCM"  class="input-field col s12"  >
          <i (click)="DescargarCartaRespuesta(RequerimientoDetalle.laserFicheIDCartaRespuestaOCM)" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
          <span class="text-bold vertical-align-super">Carta de respuesta</span>
        </div>
      </div>

      <div *ngIf="RequerimientoDetalle.estado!=2">

        <div *ngIf="mostrarInputAsignar" class="col s12">
          <div class="col s9">
            <div class="input-field input-field-common lbl-sar-mat-select">
              <mat-form-field  class="w-full">
                <mat-label>Usuario a asignar</mat-label>
                <mat-select (selectionChange)="changeUsuarioAsignado()" [(ngModel)]="UsuarioAsignado" name="UsuarioAsignado" >
                  <ng-container *ngFor="let usuario  of usuarios">
                    <mat-option value="{{usuario.usuarioWeb}}">{{usuario.nombresApellidos}}</mat-option >
                  </ng-container>
                </mat-select>
              </mat-form-field>
          </div>

        </div>
        <div class="col s3">
          <div class="input-field col s12  w-full">
            <button (click)="AsignarRequerimiento()"  class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;" [disabled]="DesabilitarBotonAsignar">
              <span>Asignar</span>
              <i class="material-icons"></i>
          </button>
          </div>
      </div>
        </div>

        <ng-container *ngIf="mostrarInputDerivar">
          <app-derivado-a-ocm  (eventDerivadoOCM)="HabilitarBotonDerivarOCM($event)"    [RequerimientoDetalle]="RequerimientoDetalle"></app-derivado-a-ocm>
        </ng-container>

        <div *ngIf="mostrarInputAprobado">
          <div *ngIf="RequerimientoDetalle.laserFicheIDCartaRespuestaOCM==null" class="row">
            <div class="col s9">
              <div class="input-field input-field-common">
                <div class="align-items-center">
                  <div class="file-field input-field flex align-items-center">
                    <div class="">
                      <input type="file" #CartaRespuestaOCM (change)="changeSeletedCartaRespuestaOCM($event)"  accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf"  >
                    </div>
                    <i class="material-icons">attach_file</i>
                    <div class="file-path-wrapper w-full">
                      <input class="file-path validate w-full" type="text" placeholder="Carta de respuesta OCM(PDF/WORD)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s3">
              <div class="input-field col s12  w-full">
                <button  (click)="SubirCartaRespuestaOCM()"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
                  <span>Subir Archivo</span>
                  <i class="material-icons"></i>
              </button>
              </div>
            </div>
          </div>

          <div class="col s6" *ngIf="RequerimientoDetalle.laserFicheIDCartaRespuestaOCM">
            <div  class="col s9">
              <div class="input-field col s12">
                <i class="material-icons" (click)="DescargarArchivos(RequerimientoDetalle.laserFicheIDCartaRespuestaOCM)" style="cursor: pointer;padding-bottom: 16px;" name="action" >archive</i>
                <span class="text-bold vertical-align-super">Carta de respuesta OCM</span>
                <i (click)="EliminarCartaRespuestaOCM()" class="material-icons cursor-pointer"  name="action">delete</i>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="mostrarInputDerivarNotificacion">
          <div class="row">
            <div class="col s12">
              <div class="input-field input-field-common lbl-sar-mat-select">
                <mat-form-field  class="w-full">
                  <mat-label>Responsable de la notificación al cliente</mat-label>
                  <mat-select  [(ngModel)]="UsuarioDerivarNotificacion" name="UsuarioDerivarNotificacion"  >
                    <ng-container *ngFor="let usuario  of usuarios">
                      <mat-option value="{{usuario.usuarioWeb}}">{{usuario.nombresApellidos}}</mat-option >
                    </ng-container>
                  </mat-select>
                </mat-form-field>
            </div>

          </div>

        </div>

        </div>

        <div *ngIf="mostrarInputAtender">
          <div class="row" >
            <div class="col s9">
              <div class="input-field input-field-common lbl-sar-mat-select">
                <mat-form-field class="mat-form-field-dpicker-sar w-full">
                  <mat-label>Entrega de respuesta</mat-label>
                  <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker" (dateChange)="onChangeFechaRespuesta($event)" starttime="ngModel" [min]="this.RequerimientoDetalle.fechaRegistro"  [(ngModel)]="fechaAtencionInicioValor" name="fechaAtencionInicioValor"  >
                  <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #miDatepicker></mat-datepicker>
                  <!--
                  <div style="color: red; font-size: small;">
                    La fecha debe ser desde hoy hacia adelante.
                  </div>
                  -->
              </mat-form-field>
            </div>

          </div>
          <div class="col s3">
            <div class="input-field col s12  w-full">
                <button *ngIf="mostrarBotonAtender"  (click)="AtendidoRequeriminto()"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;" [disabled]="bFechaRespuesta" >
                  <span>Atender</span>
                  <i class="material-icons"></i>

                </button>
            </div>
        </div>
        </div>
        </div>

        <div class="row">
          <div class="col s12 w-full center-align">
              <div class="col  s12 m12 l12   w-full center-align align-items-center mx-auto flex flex-row" style="width: 100% !important;">
                  <button (click)="Regresar()" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;"  >
                    <span>Regresar</span>
                    <i class="material-icons"></i>
                  </button>

                  <button *ngIf="mostrarBotonAnulado"  (click)="AnularRequerimiento()" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
                    <span>Anular</span>
                    <i class="material-icons"></i>
                  </button>

                  <button *ngIf="mostrarBotonDerivar" [disabled]="disabledBotonDerivar" (click)="DerivadoOCMRequerimiento()" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
                    <span>Derivar a OCM</span>
                    <i class="material-icons"></i>
                  </button>

                  <button *ngIf="mostrarBotonAprobado" [disabled]="disabledBotonAprobado" (click)="AprobadoRequerimiento()" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;"  >
                    <span>Aprobar</span>
                    <i class="material-icons"></i>
                  </button>

                  <button *ngIf="mostrarBotonDerivarNotificacion" (click)="SinNotificarRequerimiento()" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;" >
                    <span>Derivar para su notificación</span>
                    <i class="material-icons"></i>
                  </button>
              </div>


          </div>
        </div>




      </div>

      <div *ngIf="RequerimientoDetalle.estado==2">
        <div class="row">
          <div class="col s12 w-full center-align mx-10">
            <div class="col offset-l3 s12 m12 l6 offset-l3  w-full center-align align-items-center mx-auto flex flex-row">
              <button (click)="Regresar()" class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;"  >
                <span>Regresar</span>
                <i class="material-icons"></i>
            </button>
            </div>
          </div>
        </div>
      </div>














        </form>

        <div *ngIf="RequerimientoDetalle.estado!=2">
          <div *ngIf="mostrarBotonComentario"  class="btn-comentario">
            <a
              class="cursor-pointer"
              (click)="AgregarComentario()"
              mat-raised-button
              matTooltip="Agregar un nuevo comentario"
              matTooltipPosition="right"
              >
              <img style="width: 60px;height: 60px;"  src="assets/img/mensajes.png" alt=""  >
            </a>
          </div>
        </div>


    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
