<div id="ptv-alert-ok">

  <div class="modal-content center-align modal-alert-content">
      <i class="material-icons medium icon-demo green-text">check_circle</i>
      <p class="center-align p-descripcion">{{data.message}}</p>
      <p class="center-align p-otradescripcion"></p>
  </div>
  <div class="modal-footer modal-alert-footer">
      <button mat-flat-button id="yes-button" [mat-dialog-close]="true" class="modal-close btn waves-effect waves-light btn-default" >
          <span>OK</span>
      </button>
  </div>
</div>
