<div id="ptv-alert-error">
  <!--
  <div class="modal-header">
      <i class="material-icons btn-close modal-action modal-close">close</i>
  </div>
  -->
  <div class="modal-content center-align modal-alert-content">
      <i class="material-icons medium icon-demo red-text">error</i>
   <!--   <p class="center-align p-desc-error">Ocurrió un error en la aplicación</p>-->
      <p class="center-align p-desc-error">{{data.message}}</p>


  </div>
  <div class="modal-footer modal-alert-footer">
      <button mat-flat-button id="yes-button" [mat-dialog-close]="true" class="modal-close btn waves-effect waves-light btn-default" >
          <span>OK</span>
      </button>
  </div>
</div>
