<div class="section no-padding">
  <div class="row     col s12 no-mar-bot">
      <div class="section no-mar-bot">
          <div class="col s12 m12 l12">
              <h1 class="title">Gestión de Plantillas</h1>
          </div>
      </div>
  </div>
</div>

<div class="card-panel row layout-card-gray-2 no-mar-bot">
  <div class="row no-mar-bot">
      <form [formGroup]="form" novalidate >
          <div class="col s12 m12 l4">
              <div class="input-field input-field-common lbl-sar-mat-select col s12">
                  <mat-form-field class="w-full">
                      <mat-label>Tipo de Plantilla</mat-label>
                      <mat-select
                        formControlName="CodTipoPlantilla"
                        (selectionChange)="onChangeTipoPlantilla()"
                      >
                      <mat-option value="">Todos</mat-option>
                          <ng-container *ngFor="let parametro of parametros">
                              <mat-option *ngIf="parametro.grupo==1200" value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                          </ng-container>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>

          <div class="col s12 m12 l6">
            <div class="file-field input-field flex align-items-center">
              <i class="material-icons">attach_file</i>
              <div class="">
                <input type="file" #fileplantilla  (change)="changePlantilla($event)"    accept="docx.doc,.,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
              </div>
              <div class="file-path-wrapper w-full">
                <input #fileplantillaName class="file-path validate" type="text" placeholder="Tamaño máximo 1 MB">
              </div>
            </div>
          </div>

          <div class="col s12 m12 l2">
            <div class="file-field input-field">
              <button (click)="Registar()" class="btn waves-effect waves-light btn-default-resize-sar mx-10">
                <span>Agregar</span>
              </button>
            </div>

          </div>


      </form>
  </div>
   <div class="row no-mar-bot">
     <p>Cabe mencionar que, si no se ponen estos parámetros en los archivos que se suban como plantillas, no se autocompletará ningún tipo de información en esta plantilla.</p>

    <ul>
      <ng-container *ngFor="let parametro of parametros">
        <li *ngIf="parametro.grupo==1000">
          <p>{{parametro.descripcion}}: {{parametro.referencia2}}</p>
        </li>
      </ng-container>
    </ul>

   </div>

</div>



<div class="card-panel row layout-card-gray-2">
  <div class="row" id="requerimiento-grid">
      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

      <table mat-table [dataSource]="listaRequerimiento">

        <ng-container matColumnDef="TipoPlantilla">
              <th mat-header-cell *matHeaderCellDef> Tipo Plantilla </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoPlantilla}}  </td>
          </ng-container>
          <ng-container matColumnDef="Archivo">
              <th mat-header-cell *matHeaderCellDef> Descargar </th>
              <td mat-cell *matCellDef="let element">
                <i (click)="DescargarArchivos(element.laserficheID)" class="material-icons" style="cursor: pointer;" name="action"  >archive</i>
                <span class="text-lg vertical-align-super"> {{element.descripcion }}</span>

              </td>
          </ng-container>

          <ng-container matColumnDef="Opcion">
              <th mat-header-cell *matHeaderCellDef>Desactivar </th>
              <td mat-cell *matCellDef="let element">
              <!--<a routerLink="/gestion/requerimiento" routerLinkActive="active"  #rla="routerLinkActive" > !-->
              <i class="material-icons" (click)="DarBaja(element)" style="cursor: pointer;" name="action">delete</i>

           </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
