.w-full{
  width: 100% !important;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.align-items-center{
  align-items: center;
}


.btn-default-resize-sar {
  padding: 0 16px !important;
  border-radius: 8px !important;
  background-color: rgba(0, 105, 79, 0.83) !important;
  text-transform: none !important;
  color: #ffd204 !important;
  font-family: "Ubuntu-Medium" !important;
  font-size: 16px !important;
  height: 38px !important;
  width: 100% !important;
}

.vertical-align-super
{
 vertical-align: super;
}
