

<form [formGroup]="form" novalidate>
  <div id="anular-modal">
    <!--<label class="active  w-full-det" for="FormaEnvio">¿Esta seguro que desea anular este requerimiento?</label>-->

    <div class="row">
      <div class="col s12">
        <div class="input-field input-field-common lbl-sar-mat-select">
          <mat-form-field class="w-full">
            <mat-label>Motivo</mat-label>
            <mat-select formControlName="CodMotivo">
              <ng-container *ngFor="let parametro of parametro">
                <mat-option
                  *ngIf="parametro.grupo == 1100"
                  value="{{ parametro.parametro }}"
                  >{{ parametro.descripcion }}</mat-option
                >
              </ng-container>
            </mat-select>
            <div
              style="color: red; font-size: small"
              *ngIf="formSubmitted && form.get('CodMotivo')?.errors"
            >
              Seleccione un motivo
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="input-field input-field-common lbl-sar-mat-select w-full">
          <textarea
            formControlName="Descripcion"
            id="Descripcion"
            class="materialize-textarea"
            maxlength="{{ lengthDescripcion }}"
          ></textarea>
          <label for="Comentario">Comentario</label>
          <div class="flex flex-row">
            <div
              class="w-full"
              style="color: red; font-size: small"
              *ngIf="formSubmitted && form.get('Descripcion')?.errors"
            >
              <!--*ngIf="formSubmitted && form.get('Descripcion')?.errors"-->
              ingrese un comentario
            </div>
            <div class="mt-0 pt-0 text-rigth w-full">
              <span
                class="font-x-small"
                *ngIf="this.form.controls['Descripcion'].value == null"
              >
                0/{{ lengthDescripcion }}</span
              >
              <span
                class="font-x-small"
                *ngIf="this.form.controls['Descripcion'].value != null"
              >
                {{ this.form.controls["Descripcion"].value.length }}/{{
                  lengthDescripcion
                }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div class="input-field col s12 w-full">
          <button
            class="btn waves-effect waves-light btn-default-resize"
            type="submit"
            style="margin-top: 13px"
            (click)="anularRequerimiento()"
          >
            <span>Aceptar</span>
            <i class="material-icons"></i>
          </button>
        </div>
      </div>
      <div class="col s6">
        <div class="input-field col s12 w-full">
          <button
            class="btn waves-effect waves-light btn-default-resize"
            mat-flat-button
            id="yes-button"
            [mat-dialog-close]="true"
            style="margin-top: 13px"
          >
            <span>Cancelar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
