<form [formGroup]="form" novalidate>
    <div id="comentario-modal">

      <div class="row">
        <div class="col s12">
          <div class="input-field input-field-common lbl-sar-mat-select w-full">
            <textarea formControlName="Descripcion" id="Descripcion" class="materialize-textarea" maxlength="{{lengthDescripcion}}"></textarea>
            <label for="Comentario">Comentario</label>
            <div class="flex flex-row">
               <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Descripcion')?.errors"> <!--*ngIf="formSubmitted && form.get('Descripcion')?.errors"-->
                ingrese un comentario
              </div>
              <div class="mt-0 pt-0 text-rigth w-full">
                <span class="font-x-small" *ngIf="this.form.controls['Descripcion'].value==null"> 0/{{lengthDescripcion}}</span>
                <span class="font-x-small" *ngIf="this.form.controls['Descripcion'].value!=null"> {{this.form.controls['Descripcion'].value.length}}/{{lengthDescripcion}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s7">
          <div class="input-field input-field-common lbl-sar-mat-select">
            <mat-form-field  class="w-full">
              <mat-label>Derivado a</mat-label>
              <mat-select formControlName="CodArea">
                <ng-container *ngFor="let area  of areas">
                  <mat-option value="{{area.codigo}}">{{area.descripcion}}</mat-option >
                </ng-container>
              </mat-select>
            </mat-form-field>
        </div>


      </div>
      <div class="col s5">
        <mat-form-field class="mat-form-field-dpicker-sar w-full">
            <mat-label>F. Derivación</mat-label>
            <input class="mat-input-dpicker" matInput [matDatepicker]="miDatepicker"  starttime="ngModel" [min]="form.value.Fecharegistroini" formControlName="FechaSolicitud" (dateInput)="onChangeFechaSolicitudIni">
            <mat-datepicker-toggle [for]="miDatepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #miDatepicker></mat-datepicker>
            <div style="color: red; font-size: small;" *ngIf="form.get('FechaSolicitud')?.errors">
              La fecha debe ser desde hoy hacia adelante.
          </div>
        </mat-form-field>


    </div>

    </div>


    <div class="col s12 m12 l6">
        <div class="row no-mar-bot">
          <div class="col s12">
            <div class="file-field input-field flex">
              <label class="active" for="FormaEnvio">Archivo adjunto</label>
              <i class="material-icons">attach_file</i>
              <div class="">
                <input type="file" formControlName="Archivo1" (change)="handleUpload($event,1)">
              </div>
              <div class="w-full">
                <input class="file-path validate" type="text" placeholder="Tamaño máximo 5 MB">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

      <div class="col s6">
        <div class="input-field col s12  w-full">
          <button class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:13px;" (click)="registrarComentario()">
            <span>Aceptar</span>
            <i class="material-icons"></i>
        </button>
        </div>
    </div>
    <div class="col s6">
      <div class="input-field col s12  w-full">
      <button class="btn waves-effect waves-light btn-default-resize" mat-flat-button id="yes-button" [mat-dialog-close]="true" style="margin-top:13px;">
        <span>Cancelar</span>
    </button>
  </div>
  </div>
      </div>
     </div>
     </form>

     <app-loading *ngIf="loading"></app-loading>
