.w-full{
  width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.mx-10{
  margin: 0px 10px;
}

.text-lg {
  font-size: 20px;
  font-weight: 600;
}

.mt-4 {
  margin-top: 4px;
}

.pt-4 {
  padding-top: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mt-10 {
  margin-top: 10px;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.text-rigth {
  text-align: right;
}

.font-x-small {
  font-size: x-small !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.g-recaptcha {
  display: inline-block;
}



.TerminosCondiciones {
  border-bottom: 1px solid #4CAF50;
}

.align-items-center{
  align-items: center;
}

.btn-question{
  display:block;
  width:60px;
  height:60px;
  color:#fff;
  position: fixed;
  right:90px;
  bottom:30px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}
.btn-whatsapp {
  display:block;
  width:60px;
  height:60px;
  color:#fff;
  position: fixed;
  right:20px;
  bottom:30px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}

.btn-default-resize-sar {
  padding: 0 16px !important;
  border-radius: 8px !important;
  background-color: rgba(0, 105, 79, 0.83) !important;
  text-transform: none !important;
  color: #ffd204 !important;
  font-family: "Ubuntu-Medium" !important;
  font-size: 16px !important;
  height: 38px !important;
  width: 100% !important;
}


[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  position: relative;
  padding-left: 25px !important;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;
  -webkit-user-select: none;
  user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
  #g-recaptcha {
    transform:scale(0.85);transform-origin:0;
  }
}

@media screen and (max-width: 600px) {
  #g-recaptcha {
    transform:scale(0.75);transform-origin:0;
  }
}
@media screen and (max-width: 400px) {
  #g-recaptcha {
    transform:scale(0.75);transform-origin:0;
  }
}
@media screen and (max-width: 300px) {
  #g-recaptcha {
    transform:scale(0.6);transform-origin:0;
  }
}



