
.align-items-center{
  align-items: center;
}
/* .w-full-a{
    width: 170%;
  } */

  .flex {
    display: flex;
  }
  
  .w-full-b{
    width: 145%;
  } 
  
  .w-full{
    width: 100%;
  }
  
    
    .mx-auto {
      margin: 0 auto;
    }
    
    .mx-10{
      margin: 0px 10px;
    }
    
    .text-lg {
      font-size: 20px;
      font-weight: 600;
    }
    
    .titlePopup {
      font-family: Ubuntu;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0px;
      color: #41af4f;
      padding-left: 10px;
      margin: 10px 0;
  }
      
/*  
    .btn-default-resize-sar {
      padding: 0 16px !important;
      border-radius: 8px !important;
      background-color: rgba(0, 105, 79, 0.83) !important;
      text-transform: none !important;
      color: #ffd204 !important;
      font-family: "Ubuntu-Medium" !important;
      font-size: 16px !important;
      height: 38px !important;
      width: 100% !important;
    }
     */
    