<div class="section no-padding">
    <div class="row  col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="titlePopup">Rechazo</h1>
            </div>
        </div>
    </div>
  </div>

  <form [formGroup]="form" novalidate>
    <mat-dialog-content class="mat-typography">
      <div id="comentario-modal">
        <div class="row"></div>        
        <div class="row no-mar-bot">
            <div class="col s12">
              <div class=" lbl-sar-mat-select s12 w-full">
                <mat-form-field class="w-full">
                    <mat-label>Motivo de Rechazo</mat-label>
                    <mat-select formControlName="CodMotivo"  >
                        <ng-container *ngFor="let parametro of parametros">
                            <mat-option value="{{parametro.parametro}}">{{parametro.descripcion}}</mat-option>
                          </ng-container>
                    </mat-select>
                </mat-form-field>
              </div>
            </div>           
        </div>

        <div class="row no-mar-bot">
          <div class="col s12">
             <div class="input-field input-field-common lbl-sar-mat-select s12  w-full"> 
              <textarea
                formControlName="Descripcion"
                id="Descripcion"
                class="materialize-textarea"
                maxlength="{{ lengthDescripcion }}"
  
              ></textarea>
              <label for="Descripcion">Comentario</label>
              <div class="flex flex-row">
                <div
                  class="w-full"
                  style="color: red; font-size: small"
                  *ngIf="formSubmitted && form.get('Descripcion')?.errors"
                >
                  <!--*ngIf="formSubmitted && form.get('Descripcion')?.errors"-->
                  ingrese un comentario
                </div>
                <div class="mt-0 pt-0 text-rigth w-full">
                  <span
                    class="font-x-small"
                    *ngIf="this.form.controls['Descripcion'].value == null"
                  >
                    0/{{ lengthDescripcion }}</span
                  >
                  <span
                    class="font-x-small"
                    *ngIf="this.form.controls['Descripcion'].value != null"
                  >
                    {{ this.form.controls["Descripcion"].value.length }}/{{
                      lengthDescripcion
                    }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        
  
  
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
  
      <div class="row">
        <div class="col s12">
          <div class="input-field col s6 w-full">
            <button
              class="btn waves-effect waves-light btn-default-resize"
              type="submit"
              style="margin-top: 13px"
              (click)="registrar()"
            >
              <span>Aceptar</span>
              <i class="material-icons"></i>
            </button>
          </div>  
  
          <div class="input-field col s6 w-full">
            <button
              class="btn waves-effect waves-light btn-default-resize"
              mat-flat-button
              id="yes-button"
              [mat-dialog-close]="true"
              style="margin-top: 13px"
            >
              <span>Cancelar</span>
            </button>
          </div>
        </div>
      </div>
  
    </mat-dialog-actions>
  
  </form>
  <app-loading *ngIf="loading"></app-loading>
  