<div *ngIf="CreditoClienteDetalle"  class="container">
  <div class="section no-padding">
    <div class="row  col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l7">
                <h1 class="title">Proceso:  {{CreditoClienteDetalle.tipoProcesamiento}}  </h1>
            </div>
            <div class="col s12 m12 l5">
              <h1 class="subtitle"> Estado: {{CreditoClienteDetalle.estado}}</h1>

            </div>
        </div>
    </div>
  </div>

  <div class="card-panel row layout-card-gray-2">

    <div class="row mb-0">
        <form [formGroup]="form" novalidate >
          <div class="row ">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Información del cliente</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>


          <div class="row mb-0">
            <div class="col s6">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{CreditoClienteDetalle.tipoDocumento}} - {{CreditoClienteDetalle.numeroDocumento}}</p>
                <label class="active">Número de documento del cliente</label>
              </div>
            </div>
            <div class="col s6">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{CreditoClienteDetalle.nombres}}</p>
                <label class="active">Nombres y apellidos del cliente</label>
              </div>
            </div>
          </div>

          <div class="row mb-0">
            <div class="col s6">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{CreditoClienteDetalle.agencia}}</p>
                <label class="active">Agencia</label>
              </div>
            </div>
            <div class="col s6">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{CreditoClienteDetalle.analistaProponente}}</p>
                <label class="active">Analista Proponente</label>
              </div>
            </div>
          </div>

          <div class="row mb-0" *ngIf="CreditoClienteDetalle.perfilDerivado">
            <div class="col s6">
              <div class="input-field col s12  w-full mb-0">
                <p class="mt-5">{{CreditoClienteDetalle.perfilDerivado}}</p>
                <label class="active">Derivado a </label>
              </div>
            </div>
            <div class="col s6">
              <div class="input-field col s12  w-full mb-0">

              </div>
            </div>
          </div>

          <div class="row mb-0">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Créditos cancelados y no cancelados</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col s12">
              <table mat-table [dataSource]="CreditoClienteDetalle.creditos" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="nroPrestamo">
                  <th mat-header-cell *matHeaderCellDef> N° Préstamo</th>
                  <td mat-cell *matCellDef="let element"> {{element.nroPrestamo}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="ultimoCredito">
                  <th mat-header-cell *matHeaderCellDef> Última Situación del crédito </th>
                  <td mat-cell *matCellDef="let element"> {{element.ultimoCredito}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="estadoActual">
                 <th mat-header-cell *matHeaderCellDef> Estado actual del crédito </th>
                 <td mat-cell *matCellDef="let element"> {{element.estadoActual}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="saldoDeudo">
                  <th mat-header-cell *matHeaderCellDef> Saldo deudor</th>
                  <td mat-cell *matCellDef="let element"> {{element.saldoDeudo }} </td>
                </ng-container>

                   <!-- Weight Column -->
                   <ng-container matColumnDef="capital">
                    <th mat-header-cell *matHeaderCellDef>Capital</th>
                    <td mat-cell *matCellDef="let element"> {{element.capital }} </td>
                  </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="interesCompensatorio">
                  <th mat-header-cell *matHeaderCellDef> Interés Compensatorio </th>
                  <td mat-cell *matCellDef="let element"> {{element.interesCompensatorio  }} </td>
                </ng-container>


                <!-- Symbol Column -->
                <ng-container matColumnDef="interesMoratorio">
                  <th mat-header-cell *matHeaderCellDef> Interés Moratorio </th>
                  <td mat-cell *matCellDef="let element"> {{element.interesMoratorio  }} </td>
                </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="otros">
                    <th mat-header-cell *matHeaderCellDef> Otros cargos (Incluye ITF) </th>
                    <td mat-cell *matCellDef="let element"> {{element.otros  }} </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
        </div>



          <div class="row">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Garantías</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col s12">
              <table mat-table [dataSource]="CreditoClienteDetalle.garantias" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="Descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripción tipo de garantía</th>
                  <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre de garante o propietario </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombreGarante}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="DNI">
                  <th mat-header-cell *matHeaderCellDef> DNI del garante</th>
                  <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Monto">
                  <th mat-header-cell *matHeaderCellDef>  Monto del gravamen </th>
                  <td mat-cell *matCellDef="let element"> {{element.montoGravamen  }} </td>
                </ng-container>

                <ng-container matColumnDef="NroPartida">
                  <th mat-header-cell *matHeaderCellDef>   N° de Partida </th>
                  <td mat-cell *matCellDef="let element"> {{element.nroPartida  }} </td>
                </ng-container>

                <ng-container matColumnDef="OficinaRegistral">
                  <th mat-header-cell *matHeaderCellDef>   Oficina Registral </th>
                  <td mat-cell *matCellDef="let element"> {{element.oficinaRegistral  }} </td>
                </ng-container>

                <ng-container matColumnDef="NroPrestamo">
                  <th mat-header-cell *matHeaderCellDef>   N° de préstamo </th>
                  <td mat-cell *matCellDef="let element"> {{element.nroPrestamo  }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns_"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns_;"></tr>
              </table>
            </div>
        </div>

        <div *ngIf="documentos_reaperturado">
          <div *ngIf="documentos_reaperturado.length>0" class="row mb-0">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Gestión de Rechazo (reaperturado)</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>
          <div *ngFor="let recurso of documentos_reaperturado">
            <div class="row mb-0">
              <div class="col s12">
                <i (click)="DescargarArchivoLaserFiche(CreditoClienteDetalle.idLaserficheCNA,'CartaNoAdeudo')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                <span class="text-bold vertical-align-super">{{recurso.tipoRecurso}}</span>

              </div>
            </div>
          </div>
        </div>



          <div class="row">
            <div class="col s12 m12 l12">
              <div class="col s12">
                <span class="text-lg mb-4" style="padding-bottom: 16px;">Comentarios</span>
                <div class="divider mt-10"></div>
              </div>
            </div>
          </div>

          <div class="col s12"  *ngFor="let comentario of CreditoClienteDetalle.comentarios">
            <div class="input-field input-field-common col s12 mb-0">
              <div>
                <div>
                  <i class="material-icons cursor-pointer"  name="action" >person</i>
                 <span class="vertical-align-super text-bold">{{ comentario.usuarioRegistro }}</span>


                </div>
                <div>
                  <span class="text-bold">Fecha Comentario: </span>{{ comentario.fechaRegistro | date: 'dd/MM/yyyy HH:mm:ss'}}
                </div>

                <div *ngIf="comentario.motivo">
                  <p class="mt-0 mb-0">{{ comentario.motivo }}</p>
                </div>
                <div *ngIf="comentario.texto">
                    <p class="mt-0 mb-0">{{ comentario.texto }}</p>
                </div>
                <div>
                  <i *ngIf="comentario.laserficheID" (click)="DescargarArchivoLaserFiche(comentario.laserficheID,'COMENTARIO')"  class="material-icons cursor-pointer"  name="action" >archive</i>
                  <span *ngIf="comentario.laserficheID"  class="vertical-align-super text-bold">Descargar Archivo Adjunto</span>
                </div>

              </div>
              <div class="divider mt-5"></div>
          </div>

        </div>


        <div class="row"></div>
        <div class="row">
          <div class="col s12 m12 l12">
             <div class="col s12">
              <span class="text-lg mb-4" style="padding-bottom: 16px;">Carta de no adeudo</span>
              <div class="divider mt-10"></div>
            </div>
          </div>
        </div>


        <ng-container *ngFor="let item of botones">
          <ng-container  >
              <div *ngIf="item.tipoAccion==6 && bLaserficheCNAAdmAge && !CreditoClienteDetalle.idLaserficheCNA" class="row">
                <div class="col s12" *ngFor="let itemcna of cnaADMAGE">
                  <i (click)="DescargarArchivoLaserFiche(itemcna.laserficheID,'CartaNoAdeudo')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Carta de no adeudo</span>
                  <i (click)="onClick(item,itemcna.laserficheID)"  class="material-icons cursor-pointer"  name="action">delete</i>
                </div>
              </div>

              <div *ngIf="item.tipoAccion==6 && !bLaserficheCNAAdmAge && CreditoClienteDetalle.idLaserficheCNA" class="row">
                <div class="col s12">
                  <i (click)="DescargarArchivoLaserFiche(CreditoClienteDetalle.idLaserficheCNA,'CartaNoAdeudo')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Carta de no adeudo</span>
                  <i (click)="onClick(item,CreditoClienteDetalle.idLaserficheCNA)"  class="material-icons cursor-pointer"  name="action">delete</i>
                </div>
              </div>

              <div *ngIf="item.tipoAccion==2 && !CreditoClienteDetalle.idLaserficheCNA && !bLaserficheCNAAdmAge" class="row">

                <div class="col s12">
                  <div class="col s9">
                    <div class="input-field input-field-common lbl-sar-mat-select">
                      <mat-form-field  class="w-full">
                        <mat-label>Plantillas</mat-label>
                        <mat-select
                        formControlName="plantilla"
                        >
                          <ng-container *ngFor="let recurso  of recursos">
                            <mat-option value="{{recurso.laserficheID}}">{{recurso.descripcion}}</mat-option >
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  </div>
                  <div class="col s3">
                    <div class="input-field col s12  w-full">
                      <button (click)="DescargarPlantilla()"  class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
                        <span>Descargar</span>
                        <i class="material-icons"></i>
                    </button>
                    </div>
                  </div>
              </div>

                <div class="col s9">
                  <div class="row no-mar-bot">
                    <div class="col s12">
                      <div class="file-field input-field flex align-items-center">
                        <label class="active" for="FormaEnvio">Archivo adjunto</label>
                        <i class="material-icons">attach_file</i>
                        <div class="">
                          <input
                            formControlName="FileCNA"
                            type="file"
                            (change)="handleUpload2($event)"
                            accept="docx.doc,.,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                          />
                        </div>
                        <div class="w-full">
                          <input
                            #InputCNA
                            class="file-path validate"
                            type="text"
                            placeholder="Tamaño máximo 2.5 MB"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s3">
                    <button (click)="onClick(item)"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
                      <span>Subir Archivo</span>
                      <i class="material-icons"></i>
                    </button>
                </div>
              </div>
          </ng-container>
        </ng-container>

        <ng-container *ngFor="let item of botones">
          <ng-container *ngIf="item.tipoAccion==5" >
              <div class="row">
                <div class="col s12" *ngIf="bLaserficheCNAAdmAge">
                    <div class="col s12" *ngFor="let item of cnaADMAGE">
                      <i (click)="DescargarArchivoLaserFiche(item.laserficheID,'CartaNoAdeudo')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                      <span class="text-bold vertical-align-super">Carta de no adeudo</span>
                    </div>
                </div>
                <div class="col s12" *ngIf="!bLaserficheCNAAdmAge && CreditoClienteDetalle.idLaserficheCNA">
                  <i (click)="DescargarArchivoLaserFiche(CreditoClienteDetalle.idLaserficheCNA,'CartaNoAdeudo')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Carta de no adeudo</span>
                </div>
              </div>

          </ng-container>
        </ng-container>

        <ng-container *ngFor="let item of botones">
          <ng-container *ngIf="item.tipoAccion==16" >
              <div *ngIf="cnaADMAGE" class="row">
                <div class="col s12" *ngFor="let item of cnaADMAGE">
                  <i (click)="DescargarArchivoLaserFiche(item.laserficheID,'CartaNoAdeudo')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Carta de no adeudo</span>

                </div>
              </div>

          </ng-container>
        </ng-container>


        <ng-container *ngFor="let item of botones">
          <ng-container *ngIf="item.tipoAccion==4" >
            <app-cna-garantia-seccion [item]="item"  (cargarPaginaOut)="cargarPaginaOut()" [creditoClienteDetalle]="CreditoClienteDetalle"></app-cna-garantia-seccion>
          </ng-container>
        </ng-container>


        <ng-container *ngFor="let item of botones">
          <ng-container>
            <div *ngIf="item.tipoAccion==8 && CreditoClienteDetalle.idLaserficheCR" class="row">

            <div class="row"></div>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="col s12">
                  <span class="text-lg mb-4" style="padding-bottom: 16px;">Carta de Respuesta</span>
                  <div class="divider mt-10"></div>
                </div>
              </div>
            </div>
            <div  class="row">
              <div class="col s12">
                <i (click)="DescargarArchivoLaserFiche(CreditoClienteDetalle.idLaserficheCR,'CartadeRespuesta')"  class="material-icons cursor-pointer" name="action" >archive</i>
                <span class="text-bold vertical-align-super">Carta de respuesta</span>
                <i (click)="onClick(item,CreditoClienteDetalle.idLaserficheCR)" class="material-icons cursor-pointer"  name="action">delete</i>
              </div>
            </div>
       </div>

         <div *ngIf="item.tipoAccion==3 && !CreditoClienteDetalle.idLaserficheCR" class="row">
            <div class="row"></div>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="col s12">
                  <span class="text-lg mb-4" style="padding-bottom: 16px;">Carta de Respuesta</span>
                  <div class="divider mt-10"></div>
                </div>
              </div>
            </div>

            <div class="col s12">
              <div class="col s9">
                <div class="input-field input-field-common lbl-sar-mat-select">
                  <mat-form-field  class="w-full">
                    <mat-label>Plantillas</mat-label>
                    <mat-select
                    formControlName="plantillaCR"
                    >
                      <ng-container *ngFor="let recurso  of recursosCR">
                        <mat-option value="{{recurso.laserficheID}}">{{recurso.descripcion}}</mat-option >
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
              </div>
              </div>
              <div class="col s3">
                <div class="input-field col s12  w-full">
                  <button (click)="DescargarPlantillaCR()"  class="btn waves-effect waves-light btn-default-resize" type="submit" style="margin-top:23px;">
                    <span>Descargar</span>
                    <i class="material-icons"></i>
                </button>
                </div>
              </div>
          </div>

            <div  class="row">
              <div class="col s9">
                <div class="row no-mar-bot">
                  <div class="col s12">
                    <div class="file-field input-field flex align-items-center">
                      <label class="active" for="FormaEnvio">Archivo adjunto</label>
                      <i class="material-icons">attach_file</i>
                      <div class="">
                        <input
                          formControlName="FileCR"
                          type="file"
                          (change)="handleUpload($event)"
                          accept="application/pdf"
                        />
                      </div>
                      <div class="w-full">
                        <input
                          #InputCNA
                          class="file-path validate"
                          type="text"
                          placeholder="Tamaño máximo 5 MB"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s3">
                  <button (click)="subirCartaRespuesta()"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
                    <span>Subir Archivo</span>
                    <i class="material-icons"></i>
                  </button>
              </div>
            </div>
         </div>
         </ng-container>
        </ng-container>
        <ng-container *ngFor="let item of botones">
          <ng-container *ngIf="item.tipoAccion==9" >
              <div *ngIf="CreditoClienteDetalle.idLaserficheCR" class="row">
                <div class="col s12 m12 l12">
                  <div class="col s12">
                    <span class="text-lg mb-4" style="padding-bottom: 16px;">Carta de Respuesta</span>
                    <div class="divider mt-10"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="CreditoClienteDetalle.idLaserficheCR" class="row">
                <div class="col s12">
                  <i (click)="DescargarArchivoLaserFiche(CreditoClienteDetalle.idLaserficheCR,'CartadeRespuesta')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Carta de Respuesta</span>
                </div>
              </div>
          </ng-container>
        </ng-container>

        <ng-container *ngFor="let item of botones">
          <ng-container *ngIf="item.tipoAccion==7">
            <div *ngIf="documentosEvaluadosGarantia">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="col s12">
                    <span class="text-lg mb-4" style="padding-bottom: 16px;">Documentos evaluados por Garantía</span>
                    <div class="divider mt-10"></div>
                  </div>
                </div>
              </div>
              <div  class="row mb-0" *ngFor="let recurso of documentosEvaluadosGarantia; let i = index" >
                <div class="col s12" *ngIf="recurso.tipoRecursoID==4">
                  <i (click)="DescargarArchivoLaserFiche(recurso.laserficheID,'Archivo')"  class="material-icons cursor-pointer" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Archivo {{i + 1}}</span>
                </div>
              </div>
           </div>
          </ng-container>
        </ng-container>

          <ng-container>
            <app-cna-legal-seccion [items]="botones" [permisoLegal]="permisoLegal" (cargarPaginaLegalOut)="cargarPaginaLegalOut()" [creditoClienteDetalle]="CreditoClienteDetalle" [documentosMinuta]="documentosMinuta" [documentosCartaEntrega]="documentosCartaEntrega" (FechaEntregaOlvaOut)="FechaEntregaOlvaOut($event)"></app-cna-legal-seccion>
          </ng-container>

          <ng-container *ngFor="let item of botones">
            <ng-container *ngIf="item.tipoAccion==17" >
                <!-- <div *ngIf="CreditoClienteDetalle.idLaserficheCE" class="row"> -->
                  <div class="row mb-0">
                    <!-- <form [formGroup]="form" novalidate > -->
                      <div class="row mb-0">
                        <div class="col s4">
                          <div class="input-field col s12  w-full mb-0">
                            <p class="mt-5">{{CreditoClienteDetalle.desMedioNot}}</p>
                            <label class="active">Medio de notificación</label>
                          </div>
                        </div>
                        <div class="col s4" *ngIf="CreditoClienteDetalle.codMedioNot != 1">
                          <div class="input-field col s12  w-full mb-0">
                            <p class="mt-5">{{CreditoClienteDetalle.valorMedioNot}}</p>
                            <label class="active">{{CreditoClienteDetalle.desMedioNot}}</label>
                          </div>
                        </div>
                        <div class="col s8"></div>
                      </div>
                    <!-- </form> -->
                  </div>
                <!-- </div> -->
             </ng-container>
           </ng-container>

          <ng-container *ngFor="let item of botones">
            <ng-container *ngIf="item.tipoAccion==15 " >
                <div class="row">
                  <div class="row mb-0">
                    <div class="col s6">
                       <div class="input-field col s12  w-full mb-0">
                        <mat-form-field class="w-full-a">
                          <mat-label>Medio de Notificación</mat-label>
                          <mat-select
                          formControlName="MedioNotificacion"
                          (selectionChange)="onChangeMN()">
                              <ng-container *ngFor="let MedioNotificacion of MedioNotificaciones">
                                <mat-option value="{{MedioNotificacion.parametro}}">{{MedioNotificacion.descripcion}}</mat-option>
                              </ng-container>
                          </mat-select>

                      </mat-form-field>
                      <div style="color: red; font-size: small;" *ngIf="formSubmitted &&  form.get('MedioNotificacion')?.errors">
                        seleccione el Medio de Notificación
                       </div>
                      </div>
                    </div>


                    <div class="col s6" *ngIf="mostrarEmail">
                        <div class="input-field col s12  w-full mb-0">
                          <input formControlName="Email" id="Email" type="email">
                          <div class="flex flex-row">
                            <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Email')?.errors">
                              ingrese un email.
                            </div>
                          </div>
                          <label class="active">Email</label>
                        </div>
                    </div>

                    <div class="col s6" *ngIf="mostrarWhatsapp">
                      <div class="input-field col s12  w-full mb-0">
                        <input formControlName="Whatsapp" id="Whatsapp" type="text">
                        <div class="flex flex-row">
                          <div class="w-full" style="color: red; font-size: small; " *ngIf="formSubmitted && form.get('Whatsapp')?.errors">
                            ingrese whatsapp.
                          </div>
                        </div>
                        <label class="active">Whatsapp</label>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-container>
            </ng-container>

        <ng-container *ngFor="let item of botones">
          <ng-container  >
          <div *ngIf="item.tipoAccion==14 && CreditoClienteDetalle.idLaserficheCE &&
           ((CreditoClienteDetalle.perfil == 'UDA' && CreditoClienteDetalle.codMedioNot == 1) ||
            (CreditoClienteDetalle.perfil == 'OCM' && CreditoClienteDetalle.codMedioNot != 1))"
           class="row">
            <div class="row"></div>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="col s12">
                  <span class="text-lg mb-4" style="padding-bottom: 16px;">Cargo de entrega</span>
                  <div class="divider mt-10"></div>
                </div>
              </div>
            </div>
            <div  class="row">
              <div class="col s12">
                <i (click)="DescargarArchivoLaserFiche(CreditoClienteDetalle.idLaserficheCE,'CargodeEntrega')"  class="material-icons cursor-pointer" name="action" >archive</i>
                <span class="text-bold vertical-align-super">Cargo de entrega - {{CreditoClienteDetalle.fechaRegistroCE | date: 'dd/MM/yyyy hh:mm'}}</span>
                <i (click)="eliminarArchivoLaserFicheCE(CreditoClienteDetalle.idLaserficheCE)"  class="material-icons cursor-pointer"  name="action">delete</i>
              </div>
            </div>
         </div>

         <div *ngIf="item.tipoAccion==12 && !CreditoClienteDetalle.idLaserficheCE &&
                ((CreditoClienteDetalle.perfil == 'UDA' && CreditoClienteDetalle.codMedioNot == 1) ||
                  (CreditoClienteDetalle.perfil == 'OCM' && CreditoClienteDetalle.codMedioNot != 1))"
             class="row">
            <div class="row"></div>
            <div class="row">
                <div class="col s12 m12 l12">
                  <div class="col s12">
                    <span class="text-lg mb-4" style="padding-bottom: 16px;">Cargo de entrega</span>
                    <div class="divider mt-10"></div>
                  </div>
                </div>
            </div>
            <div  class="row">
                <div class="col s9">
                  <div class="row no-mar-bot">
                    <div class="col s12">
                      <div class="file-field input-field flex align-items-center">
                        <label class="active" for="FormaEnvio">Archivo adjunto</label>
                        <i class="material-icons">attach_file</i>
                        <div class="">
                          <input
                            formControlName="FileCE"
                            type="file"
                            (change)="handleUpload3($event)"
                            accept="application/pdf,image/jpeg,image/png,image/Gif,image/,.tif"
                          />
                        </div>
                        <div class="w-full">
                          <input
                            #InputCNA
                            class="file-path validate"
                            type="text"
                            placeholder="Tamaño máximo 5 MB"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s3">
                    <button (click)="subirCargoEntrega()"  class="btn waves-effect waves-light btn-default-resize mx-10" type="submit" style="margin-top:23px;">
                      <span>Subir Archivo</span>
                      <i class="material-icons"></i>
                    </button>
                </div>
              </div>
           </div>
           </ng-container>
          </ng-container>
          <ng-container *ngFor="let item of botones">
            <ng-container *ngIf="item.tipoAccion==13" >
              <div *ngIf="CreditoClienteDetalle.idLaserficheCE" class="row">
                <div class="col s12 m12 l12">
                   <div class="col s12">
                    <span class="text-lg mb-4" style="padding-bottom: 16px;">Cargo de entrega</span>
                    <div class="divider mt-10"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="CreditoClienteDetalle.idLaserficheCE" class="row">
                <div class="col s12">
                  <i (click)="DescargarArchivoLaserFiche(CreditoClienteDetalle.idLaserficheCE,'CargodeEntrega')" style="cursor: pointer;padding-bottom: 16px;" class="material-icons" name="action" >archive</i>
                  <span class="text-bold vertical-align-super">Cargo de entrega  - {{CreditoClienteDetalle.fechaRegistroCE | date: 'dd/MM/yyyy hh:mm'}}</span>
                </div>
              </div>
            </ng-container>
          </ng-container>

            <div class="row">
                  <div class="col  s12 m12 l12   w-full center-align align-items-center mx-auto flex flex-row" style="width: 100% !important;">
                      <ng-container *ngFor="let item of botones">
                          <button *ngIf="item.tipo==1"
                          class="btn waves-effect waves-light btn-default-resize mx-10" type="submit"
                          (click)="onClick(item)"
                          >
                        <span>{{item.botonNombre}}</span>
                          </button>
                      </ng-container>
                  </div>
            </div>
        </form>

        <div >
          <ng-container *ngFor="let item of botones">
            <div class="btn-comentario"  *ngIf="item.tipo==2">
              <a
                class="cursor-pointer"
                (click)="onClick(item)"
                mat-raised-button
                matTooltip="Agregar un nuevo comentario"
                matTooltipPosition="right"
                >
                <img style="width: 60px;height: 60px;"  src="assets/img/mensajes.png" alt=""  >
              </a>
            </div>
          </ng-container>

        </div>


    </div>
  </div>
</div>


<app-loading *ngIf="loading"></app-loading>
